openapi: 3.0.3
info:
  title: Kapso External API - Agents & Flows API
  description: API for programmatically interacting with Kapso agents, executions,
    and WhatsApp conversations. This specification includes only Agents & Flows API
    endpoints.
  version: 1.0.0
  contact:
    name: Kapso Support
servers:
- url: https://app.kapso.ai/api/v1
  description: Production server
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key required for all endpoints
  schemas:
    Agent:
      type: object
      properties:
        id:
          type: string
          example: agent-123abc
        name:
          type: string
          example: Customer Support Agent
        description:
          type: string
          example: Handles initial customer support queries
        project_id:
          type: string
          example: project-456def
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AgentGraph:
      type: object
      properties:
        nodes:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              type:
                type: string
              prompt:
                type: string
              config:
                type: object
              global:
                type: boolean
              tool_ids:
                type: array
                items:
                  type: string
              nodeable_id:
                type: string
              global_condition:
                type: string
                description: LLM will evaluate this condition to move to this global
                  node
              webhook:
                type: object
                description: Details for WebhookNode types
                properties:
                  nodeable_id:
                    type: string
                  url:
                    type: string
                  http_method:
                    type: string
                  headers:
                    type: object
                  body:
                    type: object
                  mock_response:
                    type: object
                  mock_response_enabled:
                    type: boolean
                  headers_raw:
                    type: string
                    description: Raw JSON string representation of headers to preserve
                      case formatting
                  body_raw:
                    type: string
                    description: Raw JSON string representation of body to preserve
                      case formatting
                  mock_response_raw:
                    type: string
                    description: Raw JSON string representation of mock response to
                      preserve case formatting
              whatsapp_template:
                type: object
                description: Details for WhatsappTemplateNode types
                properties:
                  nodeable_id:
                    type: string
                  name:
                    type: string
                  phone_number:
                    type: string
                  template_parameters:
                    type: object
                  whatsapp_node_id:
                    type: string
                  whatsapp_config_id:
                    type: string
                  whatsapp_template_id:
                    type: string
                  wait_for_response:
                    type: boolean
              knowledge_base:
                type: object
                description: Details for KnowledgeBaseNode types
                properties:
                  nodeable_id:
                    type: string
                  key:
                    type: string
                  knowledge_base_text:
                    type: string
              handoff:
                type: object
                description: Details for HandoffNode types
                properties:
                  nodeable_id:
                    type: string
              warm_end:
                type: object
                description: Details for WarmEndNode types
                properties:
                  nodeable_id:
                    type: string
                  timeout_minutes:
                    type: integer
        edges:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              from:
                type: string
              to:
                type: string
              label:
                type: string
              conditions:
                type: object
        tools:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              type:
                type: string
              description:
                type: string
        metadata:
          type: object
    AgentWithGraph:
      type: object
      properties:
        id:
          type: string
          example: agent-123abc
        name:
          type: string
          example: Customer Support Agent
        system_prompt:
          type: string
          example: You are a helpful assistant
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        graph:
          $ref: '#/components/schemas/AgentGraph'
    AgentExecution:
      type: object
      properties:
        id:
          type: string
          example: execution-789ghi
        agent_id:
          type: string
          example: agent-123abc
        thread_id:
          type: string
          example: thread-101jkl
        status:
          type: string
          enum:
          - started
          - running
          - paused
          - ended
          - handoff
          example: running
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
          nullable: true
        duration:
          type: integer
          description: Duration in seconds
          nullable: true
    Error:
      type: object
      properties:
        error:
          type: string
          example: Resource not found
        status:
          type: integer
          example: 404
        message:
          type: string
          example: The requested resource could not be found
    Customer:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Example Client
        external_customer_id:
          type: string
          example: CLIENT-123
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    WhatsappConfig:
      type: object
      properties:
        id:
          type: string
          example: config-123abc
        name:
          type: string
          example: Client WhatsApp
        display_name:
          type: string
          example: Client WhatsApp (+1234567890)
        phone_number_id:
          type: string
          example: '1234567890'
        business_account_id:
          type: string
          example: '98765432109'
        webhook_verify_token:
          type: string
        webhook_destination_url:
          type: string
        customer_id:
          type: string
          format: uuid
          example: customer-456def
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AgentWhatsappConfig:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: awc-123abc
        is_primary:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        whatsapp_config:
          $ref: '#/components/schemas/WhatsappConfig'
    Flow:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: flow-123abc
        name:
          type: string
          example: Customer Onboarding Flow
        description:
          type: string
          nullable: true
          example: Automated flow for onboarding new customers
        status:
          type: string
          enum:
          - draft
          - active
          - archived
          example: active
        project_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        created_by:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        last_executed_at:
          type: string
          format: date-time
          nullable: true
        execution_count:
          type: integer
          example: 42
    FlowWithDefinition:
      allOf:
      - $ref: '#/components/schemas/Flow'
      - type: object
        properties:
          definition:
            type: object
            properties:
              nodes:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Node identifier
                      example: start_node_1
                    type:
                      type: string
                      description: Node type
                      example: flow-node
                    position:
                      type: object
                      properties:
                        x:
                          type: number
                          example: 100
                        y:
                          type: number
                          example: 200
                    data:
                      type: object
                      properties:
                        nodeType:
                          type: string
                          description: The actual flow node type
                          enum:
                          - start
                          - send_text
                          - send_template
                          - set_variable
                          - webhook
                          - wait_for_response
                          - decide
                          - send_interactive
                          - pipedream
                          - function
                          - agent
                          example: start
                        config:
                          type: object
                          description: Node configuration specific to node type
                          additionalProperties: true
                        displayName:
                          type: string
                          description: Display name for the node
                          example: Start
              edges:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: edge_1
                    source:
                      type: string
                      description: Source node identifier
                      example: start_node_1
                    target:
                      type: string
                      description: Target node identifier
                      example: send_text_1
                    label:
                      type: string
                      example: next
                    type:
                      type: string
                      example: default
                    flow_condition_id:
                      type: string
                      nullable: true
                      description: ID of the flow condition for decide step edges
          whatsapp_configs:
            type: array
            description: Available WhatsApp configurations for the flow
            items:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                name:
                  type: string
                  example: Main WhatsApp Config
                phone_number:
                  type: string
                  example: '+1234567890'
    FlowExecution:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: exec-456def
        flow_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - running
          - waiting
          - ended
          - failed
          example: running
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
          nullable: true
        last_event_at:
          type: string
          format: date-time
          nullable: true
        tracking_id:
          type: string
          format: uuid
          nullable: true
          description: Tracking ID for API-triggered executions
        current_step:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
              example: Send Welcome Message
            step_type:
              type: string
              example: message
        execution_context:
          type: object
          description: Context data for the execution
          additionalProperties: true
        variables:
          type: object
          description: Variables available in the execution
          additionalProperties: true
        flow:
          $ref: '#/components/schemas/Flow'
    SetupLink:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: link-123abc
        status:
          type: string
          enum:
          - active
          - used
          - expired
          - revoked
          example: active
          description: Current status of the setup link
        expires_at:
          type: string
          format: date-time
          description: When the link expires
        url:
          type: string
          format: uri
          example: https://app.kapso.ai/whatsapp/setup/aBcD123...
          description: The setup URL for WhatsApp configuration
        created_at:
          type: string
          format: date-time
    FlowTrigger:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: trigger-123abc
        flow_id:
          type: string
          format: uuid
          example: flow-456def
        trigger_type:
          type: string
          enum:
          - inbound_message
          - api_call
          example: inbound_message
          description: Type of trigger (inbound_message or api_call)
        active:
          type: boolean
          example: true
          description: Whether the trigger is active
        display_name:
          type: string
          example: Customer Support Trigger
          description: Display name for the trigger
        triggerable:
          type: object
          description: Details specific to the trigger type
          oneOf:
          - type: object
            description: InboundMessageTrigger details
            properties:
              id:
                type: string
                format: uuid
                example: inbound-trigger-123
              whatsapp_config_id:
                type: string
                format: uuid
                example: config-789ghi
          - type: object
            description: ApiCallTrigger details
            properties:
              id:
                type: string
                format: uuid
                example: api-trigger-456
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    VoiceAgent:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: voice-agent-123abc
        name:
          type: string
          example: Customer Support Voice Agent
        provider:
          type: object
          description: Voice provider configuration
          properties:
            type:
              type: string
              example: pipecat_provider
              description: Provider type
            kind:
              type: string
              example: pipecat
              description: Provider kind identifier
            agent_name:
              type: string
              example: support-agent-v1
              description: Agent name configured in the provider
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    VoiceAgentWhatsappConfig:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: vawc-123abc
        voice_agent_id:
          type: string
          format: uuid
          example: voice-agent-456def
        is_primary:
          type: boolean
          example: true
          description: Whether this is the primary voice agent for this WhatsApp config
        enabled:
          type: boolean
          example: true
          description: Whether voice calling is enabled for this assignment
        whatsapp_config:
          $ref: '#/components/schemas/WhatsappConfig'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
security:
- ApiKeyAuth: []
paths:
  /agents:
    get:
      summary: List all agents
      description: Returns a list of all agents for the authenticated project
      operationId: listAgents
      tags:
      - Agents
      responses:
        '200':
          description: A list of agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Agent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new agent
      description: Creates a new agent with default graph structure
      operationId: createAgent
      tags:
      - Agents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agent
              properties:
                agent:
                  type: object
                  required:
                  - name
                  properties:
                    name:
                      type: string
                      example: New Customer Support Agent
                    system_prompt:
                      type: string
                      example: You are a helpful customer support assistant.
      responses:
        '201':
          description: Agent created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Agent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agents/{agent_id}:
    get:
      summary: Get agent details
      description: Returns details for a specific agent
      operationId: getAgent
      tags:
      - Agents
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Agent'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update an agent
      description: Updates an existing agent's details
      operationId: updateAgent
      tags:
      - Agents
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agent
              properties:
                agent:
                  type: object
                  properties:
                    name:
                      type: string
                      example: Updated Agent Name
                    system_prompt:
                      type: string
                      example: You are a helpful assistant for our customers.
                    graph:
                      type: object
                      description: Graph definition for the agent
                      properties:
                        metadata:
                          type: object
                          description: Metadata for the graph
                          additionalProperties: true
                        nodes:
                          type: array
                          description: Array of node definitions
                          items:
                            type: object
                            required:
                            - id
                            - name
                            - type
                            properties:
                              id:
                                type: string
                                description: Unique identifier for the node in this
                                  definition
                              nodeable_id:
                                type: string
                                description: Optional ID of an existing node object
                                  to update instead of creating new
                              name:
                                type: string
                                description: Name of the node
                              type:
                                type: string
                                description: Node type
                                enum:
                                - DefaultNode
                                - WebhookNode
                                - WhatsappTemplateNode
                                - KnowledgeBaseNode
                                - HandoffNode
                                - WarmEndNode
                              prompt:
                                type: string
                                description: LLM prompt for the node
                              global:
                                type: boolean
                                description: Whether this node is globally accessible
                              global_condition:
                                type: string
                                description: LLM will evaluate this condition to move
                                  to this global node
                              config:
                                type: object
                                description: Configuration object for the node
                                additionalProperties: true
                              tool_ids:
                                type: array
                                description: IDs of tools to associate with this node
                                items:
                                  type: string
                              webhook:
                                type: object
                                description: Webhook configuration (for WebhookNode)
                                properties:
                                  url:
                                    type: string
                                  http_method:
                                    type: string
                                  headers:
                                    type: object
                                    additionalProperties: true
                                  body:
                                    type: object
                                    additionalProperties: true
                                  mock_response:
                                    type: object
                                  mock_response_enabled:
                                    type: boolean
                                  headers_raw:
                                    type: string
                                    description: Raw JSON string representation of
                                      headers to preserve case formatting
                                  body_raw:
                                    type: string
                                    description: Raw JSON string representation of
                                      body to preserve case formatting
                                  mock_response_raw:
                                    type: string
                                    description: Raw JSON string representation of
                                      mock response to preserve case formatting
                              whatsapp_template:
                                type: object
                                description: WhatsApp template configuration
                                properties:
                                  phone_number:
                                    type: string
                                  template_parameters:
                                    type: object
                                    additionalProperties: true
                                  wait_for_response:
                                    type: boolean
                                  whatsapp_config_id:
                                    type: string
                                    description: ID of the WhatsApp config to use
                                  whatsapp_template_id:
                                    type: string
                                    description: ID of the WhatsApp template to use
                                  whatsapp_node_id:
                                    type: string
                                    description: ID of the WhatsApp node (same as
                                      nodeable_id)
                              knowledge_base:
                                type: object
                                description: Knowledge base configuration
                                properties:
                                  key:
                                    type: string
                                  knowledge_base_text:
                                    type: string
                              warm_end:
                                type: object
                                description: Warm end configuration
                                properties:
                                  timeout_minutes:
                                    type: integer
                        edges:
                          type: array
                          description: Array of edge definitions
                          items:
                            type: object
                            required:
                            - from
                            - to
                            properties:
                              id:
                                type: string
                                description: Edge identifier
                              from:
                                type: string
                                description: Source node ID
                              to:
                                type: string
                                description: Target node ID
                              label:
                                type: string
                                description: Label for the edge
                              conditions:
                                type: object
                                description: Conditions for this edge
                                additionalProperties: true
                        tools:
                          type: array
                          description: Array of tool definitions
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              name:
                                type: string
                              type:
                                type: string
                              url:
                                type: string
                              method:
                                type: string
                              query_params:
                                type: object
                                additionalProperties: true
                              headers:
                                type: object
                                additionalProperties: true
                              body:
                                type: object
                                additionalProperties: true
                              description:
                                type: string
      responses:
        '200':
          description: Agent updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Agent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agents/{agent_id}/graph:
    get:
      summary: Get agent with graph
      description: Returns agent details including the langgraph definition
      operationId: getAgentWithGraph
      tags:
      - Agents
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Agent with graph definition
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AgentWithGraph'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agents/{agent_id}/executions:
    post:
      summary: Start a new agent execution
      description: Triggers a new execution of the specified agent
      operationId: startAgentExecution
      tags:
      - Agent Executions
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  oneOf:
                  - type: string
                    description: Legacy format - Initial message to send to the agent
                      (string)
                    example: I need help with my order
                  - type: object
                    description: Structured message to send to the agent
                    properties:
                      type:
                        type: string
                        enum:
                        - user_input
                        - payload
                        description: The type of message to send
                        example: user_input
                      content:
                        type: object
                        description: The content of the message
                        properties:
                          text:
                            type: string
                            description: The text content (for user_input type)
                            example: I need help with my order
                        additionalProperties: true
                phone_number:
                  type: string
                  description: WhatsApp phone number to associate with this execution
                  example: '+1234567890'
                whatsapp_config_id:
                  type: string
                  format: uuid
                  description: Optional specific WhatsApp configuration to use for this execution
                  example: config-123abc
      responses:
        '202':
          description: Execution accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AgentExecution'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List agent executions
      description: Returns a list of executions for the specified agent
      operationId: listAgentExecutions
      tags:
      - Agent Executions
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: per_page
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: q[status_eq]
        in: query
        description: Filter by exact status match
        schema:
          type: string
          enum:
          - started
          - running
          - paused
          - ended
          - handoff
      - name: q[started_at_gteq]
        in: query
        description: Filter by started_at greater than or equal to (ISO 8601 format)
        schema:
          type: string
          format: date-time
      - name: q[started_at_lteq]
        in: query
        description: Filter by started_at less than or equal to (ISO 8601 format)
        schema:
          type: string
          format: date-time
      - name: q[ended_at_gteq]
        in: query
        description: Filter by ended_at greater than or equal to (ISO 8601 format)
        schema:
          type: string
          format: date-time
      - name: q[ended_at_lteq]
        in: query
        description: Filter by ended_at less than or equal to (ISO 8601 format)
        schema:
          type: string
          format: date-time
      - name: q[phone_number_eq]
        in: query
        description: Filter by phone number (normalized format without + sign)
        schema:
          type: string
        example: "1234567890"
      responses:
        '200':
          description: A list of agent executions
          headers:
            Total:
              schema:
                type: integer
              description: Total number of records
            Total-Pages:
              schema:
                type: integer
              description: Total number of pages
            Per-Page:
              schema:
                type: integer
              description: Number of items per page
            Page:
              schema:
                type: integer
              description: Current page number
            Link:
              schema:
                type: string
              description: Links to first, prev, next, and last pages
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AgentExecution'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agents/{agent_id}/executions/{execution_id}:
    get:
      summary: Get agent execution details
      description: Returns details for a specific agent execution
      operationId: getAgentExecution
      tags:
      - Agent Executions
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
      - name: execution_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Agent execution details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AgentExecution'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Execution not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update agent execution status
      description: Updates the status of an agent execution
      operationId: updateAgentExecution
      tags:
      - Agent Executions
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
      - name: execution_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agent_execution
              properties:
                agent_execution:
                  type: object
                  required:
                  - status
                  properties:
                    status:
                      type: string
                      enum:
                      - started
                      - running
                      - paused
                      - ended
                      - handoff
                      - failed
                      - stopped
                      description: The new status for the execution
                      example: ended
      responses:
        '200':
          description: Agent execution updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AgentExecution'
        '400':
          description: Bad request - missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Execution not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - invalid status value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agents/{agent_id}/executions/{execution_id}/resume:
    post:
      summary: Resume a paused agent execution
      description: Resumes an execution that was previously paused
      operationId: resumeAgentExecution
      tags:
      - Agent Executions
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
      - name: execution_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: object
                  description: Structured message to send when resuming the execution
                  properties:
                    type:
                      type: string
                      enum:
                      - user_input
                      - payload
                      description: The type of message to send
                      example: user_input
                    content:
                      type: object
                      description: The content of the message
                      properties:
                        text:
                          type: string
                          description: The text content (for user_input type)
                          example: I need help with my order
                      additionalProperties: true
      responses:
        '200':
          description: Execution resume accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AgentExecution'
        '400':
          description: Invalid request or execution cannot be resumed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Execution not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agents/{agent_id}/agent_whatsapp_configs:
    get:
      summary: List agent WhatsApp configurations
      description: Returns a list of WhatsApp configurations associated with the agent
      operationId: listAgentWhatsappConfigs
      tags:
      - Agent WhatsApp Configs
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: A list of agent WhatsApp configurations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AgentWhatsappConfig'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create agent WhatsApp configuration
      description: Associates a WhatsApp configuration with the agent
      operationId: createAgentWhatsappConfig
      tags:
      - Agent WhatsApp Configs
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agent_whatsapp_config
              properties:
                agent_whatsapp_config:
                  type: object
                  required:
                  - whatsapp_config_id
                  properties:
                    whatsapp_config_id:
                      type: string
                      format: uuid
                      example: config-123abc
                    is_primary:
                      type: boolean
                      example: true
      responses:
        '201':
          description: Agent WhatsApp configuration created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AgentWhatsappConfig'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agents/{agent_id}/agent_whatsapp_configs/{id}:
    get:
      summary: Get agent WhatsApp configuration
      description: Returns details for a specific agent WhatsApp configuration
      operationId: getAgentWhatsappConfig
      tags:
      - Agent WhatsApp Configs
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Agent WhatsApp configuration details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AgentWhatsappConfig'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent WhatsApp configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update agent WhatsApp configuration
      description: Updates an existing agent WhatsApp configuration
      operationId: updateAgentWhatsappConfig
      tags:
      - Agent WhatsApp Configs
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agent_whatsapp_config
              properties:
                agent_whatsapp_config:
                  type: object
                  properties:
                    is_primary:
                      type: boolean
                      example: true
      responses:
        '200':
          description: Agent WhatsApp configuration updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AgentWhatsappConfig'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent WhatsApp configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete agent WhatsApp configuration
      description: Removes a WhatsApp configuration association from the agent
      operationId: deleteAgentWhatsappConfig
      tags:
      - Agent WhatsApp Configs
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Agent WhatsApp configuration deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent WhatsApp configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /flows:
    get:
      summary: List all flows
      description: Returns a list of all flows for the authenticated project
      operationId: listFlows
      tags:
      - Flows
      parameters:
      - name: q[status_eq]
        in: query
        required: false
        schema:
          type: string
          enum:
          - draft
          - active
          - archived
        description: Filter flows by status
      responses:
        '200':
          description: A list of flows
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Flow'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new flow
      description: Creates a new flow with basic data and optional definition
      operationId: createFlow
      tags:
      - Flows
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - flow
              properties:
                flow:
                  type: object
                  required:
                  - name
                  properties:
                    name:
                      type: string
                      example: Customer Onboarding Flow
                    description:
                      type: string
                      example: Automated flow for onboarding new customers
                    definition:
                      type: object
                      description: Optional flow definition structure
                      properties:
                        nodes:
                          type: array
                          description: Array of flow node definitions
                          items:
                            type: object
                            required:
                            - id
                            - position
                            - data
                            properties:
                              id:
                                type: string
                                description: Unique identifier for the node
                                example: start_node_1
                              position:
                                type: object
                                required:
                                - x
                                - y
                                properties:
                                  x:
                                    type: number
                                    example: 100
                                  y:
                                    type: number
                                    example: 200
                              data:
                                type: object
                                required:
                                - node_type
                                properties:
                                  node_type:
                                    type: string
                                    enum:
                                    - start
                                    - send_text
                                    - send_template
                                    - set_variable
                                    - webhook
                                    - wait_for_response
                                    - decide
                                    - send_interactive
                                    - pipedream
                                    - function
                                    - agent
                                    example: start
                                  config:
                                    type: object
                                    description: Configuration specific to the node type
                                    additionalProperties: true
                        edges:
                          type: array
                          description: Array of flow edge definitions
                          items:
                            type: object
                            required:
                            - source
                            - target
                            properties:
                              id:
                                type: string
                                description: Edge identifier
                                example: edge_1
                              source:
                                type: string
                                description: Source node ID
                                example: start_node_1
                              target:
                                type: string
                                description: Target node ID
                                example: send_text_1
                              label:
                                type: string
                                description: Label for the edge
                                example: next
                              flow_condition_id:
                                type: string
                                description: ID of the flow condition (for decide nodes)
      responses:
        '201':
          description: Flow created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Flow'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /flows/{flow_id}:
    get:
      summary: Get flow details
      description: Returns details for a specific flow
      operationId: getFlow
      tags:
      - Flows
      parameters:
      - name: flow_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Flow details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Flow'
        '404':
          description: Flow not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update a flow
      description: Updates an existing flow's details and optionally its definition
      operationId: updateFlow
      tags:
      - Flows
      parameters:
      - name: flow_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - flow
              properties:
                flow:
                  type: object
                  properties:
                    name:
                      type: string
                      example: Updated Flow Name
                    description:
                      type: string
                      example: Updated flow description
                    definition:
                      type: object
                      description: Optional flow definition structure to update
                      properties:
                        nodes:
                          type: array
                          description: Array of flow node definitions
                          items:
                            type: object
                            required:
                            - id
                            - position
                            - data
                            properties:
                              id:
                                type: string
                                description: Unique identifier for the node
                                example: start_node_1
                              position:
                                type: object
                                required:
                                - x
                                - y
                                properties:
                                  x:
                                    type: number
                                    example: 100
                                  y:
                                    type: number
                                    example: 200
                              data:
                                type: object
                                required:
                                - node_type
                                properties:
                                  node_type:
                                    type: string
                                    enum:
                                    - start
                                    - send_text
                                    - send_template
                                    - set_variable
                                    - webhook
                                    - wait_for_response
                                    - decide
                                    - send_interactive
                                    - pipedream
                                    - function
                                    - agent
                                    example: start
                                  config:
                                    type: object
                                    description: Configuration specific to the node type
                                    additionalProperties: true
                        edges:
                          type: array
                          description: Array of flow edge definitions
                          items:
                            type: object
                            required:
                            - source
                            - target
                            properties:
                              id:
                                type: string
                                description: Edge identifier
                                example: edge_1
                              source:
                                type: string
                                description: Source node ID
                                example: start_node_1
                              target:
                                type: string
                                description: Target node ID
                                example: send_text_1
                              label:
                                type: string
                                description: Label for the edge
                                example: next
                              flow_condition_id:
                                type: string
                                description: ID of the flow condition (for decide nodes)
      responses:
        '200':
          description: Flow updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Flow'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Flow not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /flows/{flow_id}/definition:
    get:
      summary: Get flow with definition
      description: Returns flow details including the complete definition structure
      operationId: getFlowWithDefinition
      tags:
      - Flows
      parameters:
      - name: flow_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Flow with complete definition
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FlowWithDefinition'
        '404':
          description: Flow not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /flows/{flow_id}/executions:
    get:
      summary: List flow executions
      description: Returns a list of executions for a specific flow
      operationId: listFlowExecutions
      tags:
      - Flow Executions
      parameters:
      - name: flow_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: q[status_eq]
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 3
        description: Filter by status (0=running, 1=waiting, 2=ended, 3=failed)
      - name: q[started_at_gteq]
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Filter executions started on or after this date
      - name: q[started_at_lteq]
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Filter executions started on or before this date
      responses:
        '200':
          description: A list of flow executions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FlowExecution'
        '404':
          description: Flow not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new flow execution
      description: Triggers a new execution of a flow via API. The flow must have
        an active API trigger configured.
      operationId: createFlowExecution
      tags:
      - Flow Executions
      parameters:
      - name: flow_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - phone_number
              properties:
                phone_number:
                  type: string
                  description: Phone number to associate with this flow execution
                    (required for conversation tracking)
                  pattern: ^\+[1-9]\d{1,14}$
                  example: '+1234567890'
                whatsapp_config_id:
                  type: string
                  format: uuid
                  description: Optional WhatsApp configuration to use for this execution.
                    Must belong to the project (direct or via customer). When omitted,
                    uses project's default WhatsApp config.
                  example: config-123abc
                variables:
                  type: object
                  description: Variables to pass to the flow execution
                  additionalProperties: true
                  example:
                    user_id: '123'
                    name: John Doe
                    email: john@example.com
                context:
                  type: object
                  description: Additional context for the execution
                  additionalProperties: true
                  example:
                    source: mobile_app
                    version: 1.2.3
                initial_data:
                  type: object
                  description: Initial data to pass to the flow
                  additionalProperties: true
      responses:
        '202':
          description: Flow execution accepted and queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  flow_id:
                    type: string
                    format: uuid
                    description: ID of the flow being executed
                  tracking_id:
                    type: string
                    format: uuid
                    description: Unique tracking ID for this execution request
                  message:
                    type: string
                    example: Flow execution queued
        '404':
          description: Flow not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Flow cannot be executed or validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Flow is not active
                  details:
                    type: string
                    example: Flow must be in active status and have an active API
                      trigger, or whatsapp_config_id does not belong to this project
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /flow_executions/{execution_id}:
    get:
      summary: Get flow execution details
      description: Returns details for a specific flow execution
      operationId: getFlowExecution
      tags:
      - Flow Executions
      parameters:
      - name: execution_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Flow execution details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FlowExecution'
        '404':
          description: Flow execution not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /flows/{flow_id}/triggers:
    get:
      summary: List flow triggers
      description: Returns a list of triggers for a specific flow
      operationId: listFlowTriggers
      tags:
      - Flow Triggers
      parameters:
      - name: flow_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: A list of flow triggers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FlowTrigger'
        '404':
          description: Flow not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a flow trigger
      description: Creates a new trigger for a flow (inbound_message or api_call)
      operationId: createFlowTrigger
      tags:
      - Flow Triggers
      parameters:
      - name: flow_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - trigger
              properties:
                trigger:
                  type: object
                  required:
                  - trigger_type
                  properties:
                    trigger_type:
                      type: string
                      enum:
                      - inbound_message
                      - api_call
                      description: Type of trigger to create
                      example: inbound_message
                    active:
                      type: boolean
                      description: Whether the trigger should be active
                      default: true
                      example: true
                    whatsapp_config_id:
                      type: string
                      format: uuid
                      description: Required for inbound_message triggers, not used for api_call triggers
                      example: config-123abc
            examples:
              inbound_message_trigger:
                summary: Create an inbound message trigger
                description: Creates a trigger that fires when a WhatsApp message is received
                value:
                  trigger:
                    trigger_type: inbound_message
                    active: true
                    whatsapp_config_id: config-789ghi
              api_call_trigger:
                summary: Create an API call trigger
                description: Creates a trigger that can be invoked via API
                value:
                  trigger:
                    trigger_type: api_call
                    active: true
      responses:
        '201':
          description: Flow trigger created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FlowTrigger'
        '404':
          description: Flow or WhatsApp config not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Invalid trigger type or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /triggers/{id}:
    patch:
      summary: Update a flow trigger
      description: Updates a flow trigger's active status
      operationId: updateFlowTrigger
      tags:
      - Flow Triggers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - trigger
              properties:
                trigger:
                  type: object
                  properties:
                    active:
                      type: boolean
                      description: Whether the trigger should be active
                      example: false
      responses:
        '200':
          description: Flow trigger updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FlowTrigger'
        '404':
          description: Trigger not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a flow trigger
      description: Deletes a flow trigger (does not delete the triggerable)
      operationId: deleteFlowTrigger
      tags:
      - Flow Triggers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Flow trigger deleted successfully
        '404':
          description: Trigger not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /flow_executions/{execution_id}/resume:
    post:
      summary: Resume a waiting flow execution
      description: Resumes a flow execution that is in waiting state
      operationId: resumeFlowExecution
      tags:
      - Flow Executions
      parameters:
      - name: execution_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                  description: Text input to resume the flow with
                  example: 'yes'
                message:
                  type: object
                  description: Structured message data to resume with
                  additionalProperties: true
                  example:
                    button_id: confirm_button
                    additional_data:
                      timestamp: '2024-01-15T10:30:00Z'
      responses:
        '200':
          description: Flow execution resumed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FlowExecution'
        '404':
          description: Flow execution not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Flow execution cannot be resumed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Execution cannot be resumed
                  message:
                    type: string
                    example: The execution is not in a waiting state
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /voice_agents:
    get:
      summary: List voice agents
      description: Returns a list of voice agents for the authenticated project
      operationId: listVoiceAgents
      tags:
      - Voice Agents
      responses:
        '200':
          description: A list of voice agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VoiceAgent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a voice agent
      description: Creates a new voice agent with provider configuration
      operationId: createVoiceAgent
      tags:
      - Voice Agents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - voice_agent
              properties:
                voice_agent:
                  type: object
                  required:
                  - name
                  - provider_type
                  - provider
                  properties:
                    name:
                      type: string
                      example: Customer Support Voice Agent
                    provider_type:
                      type: string
                      enum:
                      - pipecat
                      example: pipecat
                      description: Type of voice provider
                    provider:
                      type: object
                      required:
                      - public_api_key
                      - agent_name
                      properties:
                        public_api_key:
                          type: string
                          example: pk_live_abc123
                          description: Public API key for the provider
                        private_api_key:
                          type: string
                          example: sk_live_xyz789
                          description: Private API key for the provider (optional)
                        agent_name:
                          type: string
                          example: support-agent-v1
                          description: Agent name configured in the provider
                        base_url:
                          type: string
                          example: https://api.pipecat.ai
                          description: Custom base URL for the provider API (optional)
      responses:
        '201':
          description: Voice agent created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/VoiceAgent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /voice_agents/{id}:
    get:
      summary: Get voice agent details
      description: Returns details for a specific voice agent
      operationId: getVoiceAgent
      tags:
      - Voice Agents
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Voice agent details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/VoiceAgent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Voice agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update a voice agent
      description: Updates an existing voice agent's details and provider configuration
      operationId: updateVoiceAgent
      tags:
      - Voice Agents
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - voice_agent
              properties:
                voice_agent:
                  type: object
                  properties:
                    name:
                      type: string
                      example: Updated Voice Agent Name
                    provider_type:
                      type: string
                      enum:
                      - pipecat
                      example: pipecat
                    provider:
                      type: object
                      properties:
                        public_api_key:
                          type: string
                          example: pk_live_abc123
                        private_api_key:
                          type: string
                          example: sk_live_xyz789
                        agent_name:
                          type: string
                          example: support-agent-v2
                        base_url:
                          type: string
                          example: https://api.pipecat.ai
      responses:
        '200':
          description: Voice agent updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/VoiceAgent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Voice agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a voice agent
      description: Deletes a voice agent and its provider configuration
      operationId: deleteVoiceAgent
      tags:
      - Voice Agents
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Voice agent deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Voice agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /voice_agents/{voice_agent_id}/voice_agent_whatsapp_configs:
    get:
      summary: List voice agent WhatsApp config assignments
      description: Returns a list of WhatsApp config assignments for a voice agent
      operationId: listVoiceAgentWhatsappConfigs
      tags:
      - Voice Agent WhatsApp Configs
      parameters:
      - name: voice_agent_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: A list of voice agent WhatsApp config assignments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VoiceAgentWhatsappConfig'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Voice agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create voice agent WhatsApp config assignment
      description: Assigns a WhatsApp configuration to a voice agent
      operationId: createVoiceAgentWhatsappConfig
      tags:
      - Voice Agent WhatsApp Configs
      parameters:
      - name: voice_agent_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - voice_agent_whatsapp_config
              properties:
                voice_agent_whatsapp_config:
                  type: object
                  required:
                  - whatsapp_config_id
                  properties:
                    whatsapp_config_id:
                      type: string
                      format: uuid
                      example: config-123abc
                      description: WhatsApp config to assign
                    is_primary:
                      type: boolean
                      example: true
                      description: Whether this should be the primary voice agent for this WhatsApp config
                    enabled:
                      type: boolean
                      example: true
                      description: Whether voice calling is enabled for this assignment
      responses:
        '201':
          description: Voice agent WhatsApp config assignment created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/VoiceAgentWhatsappConfig'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Voice agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Primary assignment already exists for this number
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                        example:
                        - Primary assignment already exists for this number
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /voice_agents/{voice_agent_id}/voice_agent_whatsapp_configs/{id}:
    patch:
      summary: Update voice agent WhatsApp config assignment
      description: Updates a voice agent WhatsApp config assignment
      operationId: updateVoiceAgentWhatsappConfig
      tags:
      - Voice Agent WhatsApp Configs
      parameters:
      - name: voice_agent_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - voice_agent_whatsapp_config
              properties:
                voice_agent_whatsapp_config:
                  type: object
                  properties:
                    is_primary:
                      type: boolean
                      example: true
                    enabled:
                      type: boolean
                      example: true
      responses:
        '200':
          description: Voice agent WhatsApp config assignment updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/VoiceAgentWhatsappConfig'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Voice agent WhatsApp config assignment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Primary assignment already exists for this number
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                        example:
                        - Primary assignment already exists for this number
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete voice agent WhatsApp config assignment
      description: Removes a WhatsApp config assignment from a voice agent
      operationId: deleteVoiceAgentWhatsappConfig
      tags:
      - Voice Agent WhatsApp Configs
      parameters:
      - name: voice_agent_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Voice agent WhatsApp config assignment deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Voice agent WhatsApp config assignment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
