openapi: 3.0.3
info:
  title: Kapso Platform API
  description: Build WhatsApp automation into your SaaS. Let your customers connect their own WhatsApp Business accounts.
  version: 1.0.0
  contact:
    name: Kapso Support
servers:
  - url: https://app.kapso.ai/api/v1
    description: Production server
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Your project API key
  schemas:
    Customer:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          example: Acme Corporation
        external_customer_id:
          type: string
          example: CUS-12345
          description: Your internal customer ID
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SetupLink:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 7f8a9b1c-2d3e-4f5a-6b7c-8d9e0f1a2b3c
        status:
          type: string
          enum:
            - active
            - used
            - expired
            - revoked
          example: active
        expires_at:
          type: string
          format: date-time
          description: Link expires after 30 days
        url:
          type: string
          format: uri
          example: https://app.kapso.ai/whatsapp/setup/aBcD123...
          description: Setup URL for your customer
        success_redirect_url:
          type: string
          format: uri
          example: https://your-app.com/whatsapp/success
          nullable: true
        failure_redirect_url:
          type: string
          format: uri
          example: https://your-app.com/whatsapp/failed
          nullable: true
        allowed_connection_types:
          type: array
          items:
            type: string
            enum:
              - coexistence
              - dedicated
          example: ["coexistence", "dedicated"]
          description: Connection types shown to customer. Single option auto-selects.
          default: ["coexistence", "dedicated"]
        provision_phone_number:
          type: boolean
          example: false
          description: Whether to provision a new phone number for the customer
        phone_number_area_code:
          type: string
          example: "415"
          nullable: true
          description: Area code for provisioned phone number (if provision_phone_number is true)
        phone_number_country_isos:
          type: array
          items:
            type: string
          example: ["US"]
          description: Array of supported ISO country codes for phone number provisioning. Defaults to ["US"] if not specified. Non-US countries require custom Twilio credentials.
        provisioned_phone_number:
          type: object
          nullable: true
          description: Details of the provisioned phone number (if applicable)
          properties:
            id:
              type: string
              format: uuid
            phone_number:
              type: string
              example: "+14155551234"
            area_code:
              type: string
              example: "415"
            status:
              type: string
              enum: [active, released]
        theme_config:
          type: object
          description: Customize the setup page appearance
          properties:
            primary_color:
              type: string
              pattern: "^#[0-9A-Fa-f]{6}$"
              example: "#3b82f6"
              description: Primary buttons and accents
            primary_foreground_color:
              type: string
              pattern: "^#[0-9A-Fa-f]{6}$"
              example: "#ffffff"
              description: Text on primary buttons
            background_color:
              type: string
              pattern: "^#[0-9A-Fa-f]{6}$"
              example: "#ffffff"
              description: Page background
            text_color:
              type: string
              pattern: "^#[0-9A-Fa-f]{6}$"
              example: "#0f172a"
              description: Main text
            muted_text_color:
              type: string
              pattern: "^#[0-9A-Fa-f]{6}$"
              example: "#64748b"
              description: Secondary text
            card_color:
              type: string
              pattern: "^#[0-9A-Fa-f]{6}$"
              example: "#f8fafc"
              description: Card backgrounds
            muted_color:
              type: string
              pattern: "^#[0-9A-Fa-f]{6}$"
              example: "#f1f5f9"
              description: Muted backgrounds
            border_color:
              type: string
              pattern: "^#[0-9A-Fa-f]{6}$"
              example: "#e2e8f0"
              description: Borders
            secondary_color:
              type: string
              pattern: "^#[0-9A-Fa-f]{6}$"
              example: "#f1f5f9"
              description: Secondary buttons
            secondary_foreground_color:
              type: string
              pattern: "^#[0-9A-Fa-f]{6}$"
              example: "#0f172a"
              description: Text on secondary buttons
            destructive_color:
              type: string
              pattern: "^#[0-9A-Fa-f]{6}$"
              example: "#ef4444"
              description: Error states
            destructive_foreground_color:
              type: string
              pattern: "^#[0-9A-Fa-f]{6}$"
              example: "#fef2f2"
              description: Text on error backgrounds
          nullable: true
        created_at:
          type: string
          format: date-time
    WhatsappWebhook:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 9e8d7c6b-5a4f-3e2d-1c0b-9a8f7e6d5c4b
        url:
          type: string
          format: uri
          example: https://example.com/webhook
        secret_key:
          type: string
          example: your-secret-key
          description: Secret key for webhook signature verification
        events:
          type: array
          items:
            type: string
          example: ["whatsapp.message.received", "whatsapp.message.sent"]
          description: List of events this webhook should receive
        active:
          type: boolean
          example: true
          description: Whether this webhook is active
        headers:
          type: object
          additionalProperties:
            type: string
          nullable: true
          example:
            X-Custom-Header: custom-value
          description: Custom headers to include in webhook requests
        buffer_enabled:
          type: boolean
          example: false
          description: Whether message buffering is enabled for batch delivery
        buffer_window_seconds:
          type: integer
          minimum: 1
          maximum: 60
          example: 5
          description: Time window in seconds to buffer messages before sending as batch
        max_buffer_size:
          type: integer
          minimum: 1
          maximum: 100
          example: 50
          description: Maximum number of messages to include in a single batch
        buffer_events:
          type: array
          items:
            type: string
          example: ["whatsapp.message.received"]
          description: List of events that should be buffered (currently only supports whatsapp.message.received)
        inactivity_minutes:
          type: integer
          minimum: 1
          maximum: 1440
          example: 60
          description: Time in minutes to wait with no messages before triggering whatsapp.conversation.inactive event (1-1440 minutes, default 60)
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 20
        total_pages:
          type: integer
          example: 5
        total_count:
          type: integer
          example: 100
    Error:
      type: object
      properties:
        error:
          type: string
          example: Resource not found
    WhatsappConfig:
      type: object
      description: |
        WhatsApp configuration for a customer.
        Note: webhook_verify_token and webhook_destination_url are write-only fields
        and will not be returned in API responses for security reasons.
      properties:
        id:
          type: string
          example: 4a5b6c7d-8e9f-0a1b-2c3d-4e5f6a7b8c9d
        name:
          type: string
          example: Client WhatsApp
        display_name:
          type: string
          example: Client WhatsApp (+1234567890)
        phone_number_id:
          type: string
          example: "1234567890"
        business_account_id:
          type: string
          example: "98765432109"
        display_phone_number:
          type: string
          example: "+56 9 61461262"
          description: Formatted phone number for display purposes
        display_phone_number_normalized:
          type: string
          example: "56961461262"
          description: Normalized phone number without + prefix
        webhook_verify_token:
          type: string
          description: Write-only. Token for webhook verification. Not returned in responses.
        webhook_destination_url:
          type: string
          description: Write-only. URL for webhook delivery. Not returned in responses.
        customer_id:
          type: string
          format: uuid
          example: 3f2e1d0c-9b8a-7f6e-5d4c-3b2a1f0e9d8c
        inbound_processing_enabled:
          type: boolean
          example: true
          description: Whether inbound message processing is enabled for this configuration
        calls_enabled:
          type: boolean
          example: false
          description: Whether voice calling is enabled for this configuration
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    WhatsappDisplayNameRequest:
      type: object
      description: WhatsApp display name change request record
      properties:
        id:
          type: string
          format: uuid
          example: 2b0f4a1e-7a58-4a15-b0c9-0d7f1a2b3c4d
        whatsapp_config_id:
          type: string
          format: uuid
          example: 4a5b6c7d-8e9f-0a1b-2c3d-4e5f6a7b8c9d
        requested_display_name:
          type: string
          example: Acme Support
        previous_display_name:
          type: string
          nullable: true
          example: +1 555-123-4567
        status:
          type: string
          description: Current review/application status
          enum:
            - submitted
            - pending_review
            - approved
            - available_without_review
            - deferred
            - declined
            - expired
            - no_review
            - failed
            - applied
            - cancelled
          example: pending_review
        meta_error_code:
          type: integer
          nullable: true
        meta_error_subcode:
          type: integer
          nullable: true
        meta_error_type:
          type: string
          nullable: true
        meta_error_message:
          type: string
          nullable: true
        submitted_at:
          type: string
          format: date-time
        reviewed_at:
          type: string
          format: date-time
          nullable: true
        applied_at:
          type: string
          format: date-time
          nullable: true
    BasicWhatsappTemplate:
      type: object
      description: Basic WhatsApp template info (nested in broadcast response)
      properties:
        id:
          type: string
          format: uuid
          example: 7a8b9c0d-1e2f-3a4b-5c6d-7e8f9a0b1c2d
        name:
          type: string
          example: july_promo_template
        language_code:
          type: string
          example: en_US
        category:
          type: string
          enum: [MARKETING, UTILITY, AUTHENTICATION]
          example: MARKETING
        status:
          type: string
          enum: [approved, pending, rejected]
          example: approved
    WhatsappBroadcastStats:
      type: object
      description: Broadcast delivery statistics
      properties:
        total:
          type: integer
          example: 123
        sent:
          type: integer
          example: 100
        failed:
          type: integer
          example: 23
        delivered:
          type: integer
          example: 90
        read:
          type: integer
          example: 75
        responded:
          type: integer
          example: 12
        pending:
          type: integer
          example: 0
    WhatsappBroadcast:
      type: object
      description: WhatsApp broadcast campaign
      properties:
        id:
          type: string
          format: uuid
          example: 5f6a7b8c-9d0e-1f2a-3b4c-5d6e7f8a9b0c
        name:
          type: string
          example: July Promo
        status:
          type: string
          enum: [draft, sending, completed, failed]
          example: draft
          description: Current broadcast status
        started_at:
          type: string
          format: date-time
          nullable: true
          example: "2025-07-15T10:00:00Z"
        completed_at:
          type: string
          format: date-time
          nullable: true
          example: "2025-07-15T11:30:00Z"
        created_at:
          type: string
          format: date-time
          example: "2025-07-14T15:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2025-07-15T11:30:00Z"
        whatsapp_config_id:
          type: string
          format: uuid
          example: 4a5b6c7d-8e9f-0a1b-2c3d-4e5f6a7b8c9d
          description: WhatsApp config ID
        whatsapp_template:
          $ref: "#/components/schemas/BasicWhatsappTemplate"
        total_recipients:
          type: integer
          example: 123
          description: Total number of recipients
        sent_count:
          type: integer
          example: 100
        failed_count:
          type: integer
          example: 23
        delivered_count:
          type: integer
          example: 90
        read_count:
          type: integer
          example: 75
        responded_count:
          type: integer
          example: 12
        pending_count:
          type: integer
          example: 0
        response_rate:
          type: number
          format: float
          example: 12.0
          description: Percentage of recipients who responded
        stats:
          $ref: "#/components/schemas/WhatsappBroadcastStats"
    WhatsappBroadcastRecipient:
      type: object
      description: Individual broadcast recipient with delivery status
      properties:
        id:
          type: string
          format: uuid
          example: 8c9d0e1f-2a3b-4c5d-6e7f-8a9b0c1d2e3f
        phone_number:
          type: string
          example: "14155550123"
          description: Normalized phone number without + prefix
        status:
          type: string
          enum: [pending, sent, failed]
          example: sent
        sent_at:
          type: string
          format: date-time
          nullable: true
          example: "2025-07-15T10:05:23Z"
        failed_at:
          type: string
          format: date-time
          nullable: true
        delivered_at:
          type: string
          format: date-time
          nullable: true
          example: "2025-07-15T10:05:30Z"
        read_at:
          type: string
          format: date-time
          nullable: true
          example: "2025-07-15T10:12:45Z"
        responded_at:
          type: string
          format: date-time
          nullable: true
          example: "2025-07-15T10:15:00Z"
        error_message:
          type: string
          nullable: true
          example: "Invalid phone number"
        error_details:
          type: object
          nullable: true
          additionalProperties: true
          example:
            error_code: "131047"
            error_subcode: "2494055"
        template_parameters:
          oneOf:
            - type: array
              items:
                type: string
              example: ["Param1", "Param2"]
            - type: object
              additionalProperties: true
              example:
                first_name: Alicia
                discount_code: JULY25
                expiry: "2025-07-31"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    WhatsappBroadcastRecipientInput:
      type: object
      description: Recipient input for batch add
      properties:
        phone_number:
          type: string
          example: "+14155550123"
          description: Phone number (can be omitted if whatsapp_contact_id is provided)
        whatsapp_contact_id:
          type: string
          format: uuid
          description: Existing WhatsApp contact ID (optional)
        template_parameters:
          oneOf:
            - type: array
              items:
                type: string
              example: ["Param1", "Param2"]
            - type: object
              additionalProperties: true
              example:
                first_name: Alicia
                discount_code: JULY25
                expiry: "2025-07-31"
                cta_text: Shop now
                cta_url: https://example.com
          description: Template parameters as array (positional) or object (named)
    RecipientBatchResponse:
      type: object
      description: Response from batch recipient add operation
      properties:
        added:
          type: integer
          example: 500
          description: Number of recipients successfully added
        duplicates:
          type: integer
          example: 5
          description: Number of duplicate recipients skipped
        errors:
          type: array
          items:
            type: string
          example:
            - "Recipient 3: template parameters invalid - Template requires 2 parameters..."
            - "Recipient 7: invalid phone number format"
          description: Array of error messages for failed recipients
security:
  - ApiKeyAuth: []
paths:
  /customers:
    get:
      summary: List customers
      description: Get all customers for your project
      operationId: listPlatformCustomers
      tags:
        - Customers
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: q[name_cont]
          in: query
          description: Filter by name containing string
          schema:
            type: string
        - name: q[external_customer_id_eq]
          in: query
          description: Filter by exact external customer ID
          schema:
            type: string
      responses:
        "200":
          description: List of customers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Customer"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /whatsapp_configs/{whatsapp_config_id}/display_name_requests:
    get:
      summary: List display name requests
      description: Returns the display name request history for a WhatsApp configuration (most recent first)
      operationId: listWhatsappDisplayNameRequests
      tags:
        - WhatsApp Display Names
      parameters:
        - name: whatsapp_config_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: A list of display name requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WhatsappDisplayNameRequest"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: WhatsApp configuration not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Submit a display name change
      description: |
        Submits a new WhatsApp display name for review via Meta for this configuration.

        Requirements:
        - The WhatsApp configuration must be `production`
        - `phone_number_id` and `access_token` must be present on the configuration
        - Only one active request (`submitted`/`pending_review`) can exist at a time
      operationId: createWhatsappDisplayNameRequest
      tags:
        - WhatsApp Display Names
      parameters:
        - name: whatsapp_config_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - display_name_request
              properties:
                display_name_request:
                  type: object
                  required:
                    - new_display_name
                  properties:
                    new_display_name:
                      type: string
                      example: Acme Support
      responses:
        "201":
          description: Display name request created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WhatsappDisplayNameRequest"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: WhatsApp configuration not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation error (e.g., another request already pending)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /whatsapp_configs/{whatsapp_config_id}/display_name_requests/{id}:
    get:
      summary: Get display name request
      description: Returns a specific display name request by ID
      operationId: getWhatsappDisplayNameRequest
      tags:
        - WhatsApp Display Names
      parameters:
        - name: whatsapp_config_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Display name request details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WhatsappDisplayNameRequest"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Display name request not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Note: customer scope is inferred from the WhatsApp config; a separate
  # customer-scoped path is not required for the External API.
    post:
      summary: Create customer
      description: Create a new customer that can connect their WhatsApp
      operationId: createPlatformCustomer
      tags:
        - Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customer
              properties:
                customer:
                  type: object
                  required:
                    - name
                  properties:
                    name:
                      type: string
                      example: Acme Corporation
                    external_customer_id:
                      type: string
                      example: CUS-12345
                      description: Your internal customer ID for reference
            examples:
              basic:
                summary: Basic customer
                value:
                  customer:
                    name: Acme Corporation
                    external_customer_id: CUS-12345
      responses:
        "201":
          description: Customer created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Customer"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /customers/{id}:
    get:
      summary: Get customer
      description: Get a specific customer by ID
      operationId: getPlatformCustomer
      tags:
        - Customers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Customer details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Customer"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Update customer
      description: Update customer details
      operationId: updatePlatformCustomer
      tags:
        - Customers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customer
              properties:
                customer:
                  type: object
                  properties:
                    name:
                      type: string
                    external_customer_id:
                      type: string
      responses:
        "200":
          description: Customer updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Customer"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete customer
      description: Delete a customer and all associated data
      operationId: deletePlatformCustomer
      tags:
        - Customers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Customer deleted
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /customers/{customer_id}/setup_links:
    get:
      summary: List setup links
      description: Get all setup links for a customer
      operationId: listPlatformSetupLinks
      tags:
        - Setup Links
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: List of setup links
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SetupLink"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create setup link
      description: |
        Generate a setup link for customer WhatsApp onboarding.
        Creating a new link automatically revokes any existing active links.
        Links expire after 30 days.
      operationId: createPlatformSetupLink
      tags:
        - Setup Links
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                setup_link:
                  type: object
                  properties:
                    success_redirect_url:
                      type: string
                      format: uri
                      example: https://your-app.com/whatsapp/success
                      description: Where to redirect after successful setup
                    failure_redirect_url:
                      type: string
                      format: uri
                      example: https://your-app.com/whatsapp/failed
                      description: Where to redirect if setup fails
                    allowed_connection_types:
                      type: array
                      items:
                        type: string
                        enum:
                          - coexistence
                          - dedicated
                      example: ["coexistence", "dedicated"]
                      description: |
                        Connection types to show:
                        - coexistence: Keep using WhatsApp Business app (5 msg/sec)
                        - dedicated: API-only access (up to 1000 msg/sec)
                    provision_phone_number:
                      type: boolean
                      example: true
                      description: Whether to provision a new phone number for the customer
                    phone_number_area_code:
                      type: string
                      example: "415"
                      description: Area code for provisioned phone number (if provision_phone_number is true)
                    phone_number_country_isos:
                      type: array
                      items:
                        type: string
                      example: ["US"]
                      description: Array of supported ISO country codes for phone number provisioning. Defaults to ["US"] if not specified. Empty array means no restriction. Non-US countries require custom Twilio credentials.
                    theme_config:
                      type: object
                      description: Customize setup page colors (all colors in hex format)
                      properties:
                        primary_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#3b82f6"
                          description: Primary buttons and accents
                        primary_foreground_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#ffffff"
                          description: Text on primary buttons
                        background_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#ffffff"
                          description: Page background
                        text_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#0f172a"
                          description: Main text
                        muted_text_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#64748b"
                          description: Secondary text
                        card_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#f8fafc"
                          description: Card backgrounds
                        muted_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#f1f5f9"
                          description: Muted backgrounds
                        border_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#e2e8f0"
                          description: Borders
                        secondary_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#f1f5f9"
                          description: Secondary buttons
                        secondary_foreground_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#0f172a"
                          description: Text on secondary buttons
                        destructive_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#ef4444"
                          description: Error states
                        destructive_foreground_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#fef2f2"
                          description: Text on error backgrounds
            examples:
              minimal:
                summary: Minimal setup
                value: {}
              with_redirects:
                summary: With redirect URLs
                value:
                  setup_link:
                    success_redirect_url: https://your-app.com/whatsapp/success
                    failure_redirect_url: https://your-app.com/whatsapp/failed
              coexistence_only:
                summary: Coexistence only
                value:
                  setup_link:
                    allowed_connection_types: ["coexistence"]
              fully_customized:
                summary: Fully customized
                value:
                  setup_link:
                    success_redirect_url: https://your-app.com/whatsapp/success
                    failure_redirect_url: https://your-app.com/whatsapp/failed
                    allowed_connection_types: ["dedicated"]
                    theme_config:
                      primary_color: "#3b82f6"
                      background_color: "#ffffff"
                      text_color: "#0f172a"
              with_phone_provisioning:
                summary: With phone number provisioning
                value:
                  setup_link:
                    success_redirect_url: https://your-app.com/whatsapp/success
                    failure_redirect_url: https://your-app.com/whatsapp/failed
                    provision_phone_number: true
                    phone_number_area_code: "415"
                    phone_number_country_isos: ["US"]
      responses:
        "201":
          description: Setup link created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SetupLink"
              examples:
                created:
                  summary: Setup link created
                  value:
                    data:
                      id: 7f8a9b1c-2d3e-4f5a-6b7c-8d9e0f1a2b3c
                      status: active
                      expires_at: "2024-03-15T10:00:00Z"
                      url: https://app.kapso.ai/whatsapp/setup/aBcD123xyz456def789
                      success_redirect_url: https://your-app.com/whatsapp/success
                      failure_redirect_url: https://your-app.com/whatsapp/failed
                      allowed_connection_types: ["coexistence", "dedicated"]
                      theme_config: {}
                      created_at: "2024-02-15T10:00:00Z"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /customers/{customer_id}/setup_links/{id}:
    patch:
      summary: Update setup link
      description: |
        Update an existing setup link's configuration.
        Can be used to modify redirect URLs, theme settings, connection types, status, or expiration.
      operationId: updatePlatformSetupLink
      tags:
        - Setup Links
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Setup link ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                setup_link:
                  type: object
                  properties:
                    success_redirect_url:
                      type: string
                      format: uri
                      example: https://your-app.com/whatsapp/success
                      description: Where to redirect after successful setup
                    failure_redirect_url:
                      type: string
                      format: uri
                      example: https://your-app.com/whatsapp/failed
                      description: Where to redirect if setup fails
                    allowed_connection_types:
                      type: array
                      items:
                        type: string
                        enum:
                          - coexistence
                          - dedicated
                      example: ["coexistence", "dedicated"]
                      description: |
                        Connection types to show:
                        - coexistence: Keep using WhatsApp Business app (5 msg/sec)
                        - dedicated: API-only access (up to 1000 msg/sec)
                    provision_phone_number:
                      type: boolean
                      example: true
                      description: Whether to provision a new phone number for the customer
                    phone_number_area_code:
                      type: string
                      example: "415"
                      description: Area code for provisioned phone number (if provision_phone_number is true)
                    phone_number_country_isos:
                      type: array
                      items:
                        type: string
                      example: ["US"]
                      description: Array of supported ISO country codes for phone number provisioning. Defaults to ["US"] if not specified. Empty array means no restriction. Non-US countries require custom Twilio credentials.
                    expires_at:
                      type: string
                      format: date-time
                      example: "2024-04-15T10:00:00Z"
                      description: New expiration date for the setup link
                    status:
                      type: string
                      enum:
                        - active
                        - expired
                        - revoked
                      example: revoked
                      description: Update the status of the setup link (cannot set to 'used')
                    theme_config:
                      type: object
                      description: Customize setup page colors (all colors in hex format)
                      properties:
                        primary_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#3b82f6"
                          description: Primary buttons and accents
                        primary_foreground_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#ffffff"
                          description: Text on primary buttons
                        background_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#ffffff"
                          description: Page background
                        text_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#0f172a"
                          description: Main text
                        muted_text_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#64748b"
                          description: Secondary text
                        card_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#f8fafc"
                          description: Card backgrounds
                        muted_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#f1f5f9"
                          description: Muted backgrounds
                        border_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#e2e8f0"
                          description: Borders
                        secondary_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#f1f5f9"
                          description: Secondary buttons
                        secondary_foreground_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#0f172a"
                          description: Text on secondary buttons
                        destructive_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#ef4444"
                          description: Error states
                        destructive_foreground_color:
                          type: string
                          pattern: "^#[0-9A-Fa-f]{6}$"
                          example: "#fef2f2"
                          description: Text on error backgrounds
            examples:
              update_redirects:
                summary: Update redirect URLs
                value:
                  setup_link:
                    success_redirect_url: https://your-app.com/new-success
                    failure_redirect_url: https://your-app.com/new-failure
              revoke_link:
                summary: Revoke a setup link
                value:
                  setup_link:
                    status: revoked
              extend_expiration:
                summary: Extend expiration date
                value:
                  setup_link:
                    expires_at: "2024-05-15T10:00:00Z"
              update_theme:
                summary: Update theme configuration
                value:
                  setup_link:
                    theme_config:
                      primary_color: "#10b981"
                      background_color: "#f9fafb"
      responses:
        "200":
          description: Setup link updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SetupLink"
              examples:
                updated:
                  summary: Setup link updated
                  value:
                    data:
                      id: 7f8a9b1c-2d3e-4f5a-6b7c-8d9e0f1a2b3c
                      status: active
                      expires_at: "2024-05-15T10:00:00Z"
                      url: https://app.kapso.ai/whatsapp/setup/aBcD123xyz456def789
                      success_redirect_url: https://your-app.com/new-success
                      failure_redirect_url: https://your-app.com/new-failure
                      allowed_connection_types: ["coexistence", "dedicated"]
                      theme_config:
                        primary_color: "#10b981"
                        background_color: "#f9fafb"
                      created_at: "2024-02-15T10:00:00Z"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Setup link not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                invalid_url:
                  summary: Invalid redirect URL
                  value:
                    error: "Success redirect url must be a valid URL"
                invalid_connection_type:
                  summary: Invalid connection type
                  value:
                    error: "Allowed connection types contains invalid types: invalid"
  /whatsapp_configs/{whatsapp_config_id}/whatsapp_webhooks:
    get:
      summary: List WhatsApp webhooks
      description: Returns a list of webhooks configured for a WhatsApp configuration
      operationId: listPlatformWhatsappWebhooks
      tags:
        - WhatsApp Webhooks
      parameters:
        - name: whatsapp_config_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: q[url_cont]
          in: query
          description: Filter webhooks by URL (contains)
          schema:
            type: string
        - name: q[active_eq]
          in: query
          description: Filter webhooks by active status
          schema:
            type: boolean
      responses:
        "200":
          description: A list of WhatsApp webhooks
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WhatsappWebhook"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a WhatsApp webhook
      description: Creates a new webhook for receiving WhatsApp events for this configuration
      operationId: createPlatformWhatsappWebhook
      tags:
        - WhatsApp Webhooks
      parameters:
        - name: whatsapp_config_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - whatsapp_webhook
              properties:
                whatsapp_webhook:
                  type: object
                  required:
                    - url
                    - secret_key
                    - events
                  properties:
                    url:
                      type: string
                      format: uri
                      example: https://example.com/webhook
                      description: The URL that will receive webhook notifications
                    secret_key:
                      type: string
                      example: your-secret-key-here
                      description: Secret key for webhook signature verification
                    events:
                      type: array
                      items:
                        type: string
                      example:
                        ["whatsapp.message.received", "whatsapp.message.sent"]
                      description: List of events this webhook should receive
                    active:
                      type: boolean
                      default: true
                      description: Whether this webhook is active
                    headers:
                      type: object
                      additionalProperties:
                        type: string
                      example:
                        X-Custom-Header: custom-value
                      description: Custom headers to include in webhook requests
                    buffer_enabled:
                      type: boolean
                      default: false
                      description: Whether message buffering is enabled for batch delivery
                    buffer_window_seconds:
                      type: integer
                      minimum: 1
                      maximum: 60
                      default: 5
                      description: Time window in seconds to buffer messages before sending as batch
                    max_buffer_size:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 50
                      description: Maximum number of messages to include in a single batch
                    buffer_events:
                      type: array
                      items:
                        type: string
                      default: ["whatsapp.message.received"]
                      description: List of events that should be buffered (currently only supports whatsapp.message.received)
                    inactivity_minutes:
                      type: integer
                      minimum: 1
                      maximum: 1440
                      default: 60
                      description: Time in minutes to wait with no messages before triggering whatsapp.conversation.inactive event (1-1440 minutes, default 60)
            examples:
              basic_webhook:
                summary: Basic webhook without buffering
                value:
                  whatsapp_webhook:
                    url: https://example.com/webhook
                    secret_key: my-secret-key
                    events:
                      ["whatsapp.message.received", "whatsapp.message.sent"]
                    active: true
              webhook_with_buffering:
                summary: Webhook with message buffering enabled
                value:
                  whatsapp_webhook:
                    url: https://example.com/webhook
                    secret_key: my-secret-key
                    events: ["whatsapp.message.received"]
                    active: true
                    buffer_enabled: true
                    buffer_window_seconds: 10
                    max_buffer_size: 25
                    buffer_events: ["whatsapp.message.received"]
      responses:
        "201":
          description: Webhook created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WhatsappWebhook"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /whatsapp_configs/{whatsapp_config_id}/whatsapp_webhooks/{id}:
    get:
      summary: Get WhatsApp webhook details
      description: Returns details for a specific WhatsApp webhook
      operationId: getPlatformWhatsappWebhook
      tags:
        - WhatsApp Webhooks
      parameters:
        - name: whatsapp_config_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: WhatsApp webhook details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WhatsappWebhook"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: WhatsApp webhook not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Update WhatsApp webhook
      description: Updates a WhatsApp webhook's configuration
      operationId: updatePlatformWhatsappWebhook
      tags:
        - WhatsApp Webhooks
      parameters:
        - name: whatsapp_config_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - whatsapp_webhook
              properties:
                whatsapp_webhook:
                  type: object
                  properties:
                    url:
                      type: string
                      format: uri
                    secret_key:
                      type: string
                    events:
                      type: array
                      items:
                        type: string
                    active:
                      type: boolean
                    headers:
                      type: object
                      additionalProperties:
                        type: string
                    buffer_enabled:
                      type: boolean
                      description: Whether message buffering is enabled for batch delivery
                    buffer_window_seconds:
                      type: integer
                      minimum: 1
                      maximum: 60
                      description: Time window in seconds to buffer messages before sending as batch
                    max_buffer_size:
                      type: integer
                      minimum: 1
                      maximum: 100
                      description: Maximum number of messages to include in a single batch
                    buffer_events:
                      type: array
                      items:
                        type: string
                      description: List of events that should be buffered (currently only supports whatsapp.message.received)
                    inactivity_minutes:
                      type: integer
                      minimum: 1
                      maximum: 1440
                      description: Time in minutes to wait with no messages before triggering whatsapp.conversation.inactive event (1-1440 minutes, default 60)
      responses:
        "200":
          description: WhatsApp webhook updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WhatsappWebhook"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: WhatsApp webhook not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete WhatsApp webhook
      description: Deletes a WhatsApp webhook
      operationId: deletePlatformWhatsappWebhook
      tags:
        - WhatsApp Webhooks
      parameters:
        - name: whatsapp_config_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: WhatsApp webhook deleted
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: WhatsApp webhook not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /customers/{customer_id}/whatsapp_configs:
    get:
      summary: List WhatsApp configs for a customer
      description: Returns a list of WhatsApp configurations for a specific customer
      operationId: listCustomerWhatsappConfigs
      tags:
        - WhatsApp Configs
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
        - name: business_account_id
          in: query
          description: Filter by WhatsApp Business Account ID
          schema:
            type: string
          example: "123456789012345"
        - name: q[business_account_id_eq]
          in: query
          description: Filter by exact WhatsApp Business Account ID (Ransack syntax)
          schema:
            type: string
          example: "123456789012345"
        - name: q[name_cont]
          in: query
          description: Filter by name containing string
          schema:
            type: string
        - name: q[created_at_gteq]
          in: query
          description: Filter by created date >= (ISO 8601 format)
          schema:
            type: string
            format: date-time
        - name: q[created_at_lteq]
          in: query
          description: Filter by created date <= (ISO 8601 format)
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: A list of WhatsApp configurations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WhatsappConfig"
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      per_page:
                        type: integer
                      total_pages:
                        type: integer
                      total_count:
                        type: integer
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a new WhatsApp config
      description: |
        Creates a new WhatsApp configuration for a specific customer.
        
        **Note:** Manual configuration is not recommended. Use the embedded signup flow for easier customer onboarding.
        See the [onboarding guide](/docs/how-to/whatsapp/onboard-customers) for the preferred approach.
      operationId: createCustomerWhatsappConfig
      tags:
        - WhatsApp Configs
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - whatsapp_config
              properties:
                whatsapp_config:
                  type: object
                  required:
                    - name
                  properties:
                    name:
                      type: string
                      example: WhatsApp Business Account
                    kind:
                      type: string
                      enum:
                        - production
                        - sandbox
                      default: production
                      description: Configuration environment type
                    phone_number_id:
                      type: string
                      example: "1234567890"
                      description: Required when `kind` is `production`
                    business_account_id:
                      type: string
                      example: "98765432109"
                      description: Required when `kind` is `production`
                    access_token:
                      type: string
                      description: Required when `kind` is `production`
                    webhook_verify_token:
                      type: string
                      description: Optional token for webhook verification (write-only, not returned in responses)
                    webhook_destination_url:
                      type: string
                      description: URL for webhook delivery (write-only, not returned in responses)
                    inbound_processing_enabled:
                      type: boolean
                      default: true
                      description: Whether inbound message processing is enabled for this configuration
                    calls_enabled:
                      type: boolean
                      default: false
                      description: Whether voice calling is enabled for this configuration
      responses:
        "201":
          description: WhatsApp configuration created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WhatsappConfig"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /whatsapp_configs/{whatsapp_config_id}:
    get:
      summary: Get WhatsApp config details
      description: Returns details for a specific WhatsApp configuration
      operationId: getWhatsappConfig
      tags:
        - WhatsApp Configs
      parameters:
        - name: whatsapp_config_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: WhatsApp configuration details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WhatsappConfig"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: WhatsApp configuration not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Update WhatsApp config
      description: Updates a WhatsApp configuration's details
      operationId: updateWhatsappConfig
      tags:
        - WhatsApp Configs
      parameters:
        - name: whatsapp_config_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - whatsapp_config
              properties:
                whatsapp_config:
                  type: object
                  properties:
                    kind:
                      type: string
                      enum:
                        - production
                        - sandbox
                      description: Configuration environment type
                    name:
                      type: string
                    phone_number_id:
                      type: string
                      description: Required when updating a production configuration
                    business_account_id:
                      type: string
                      description: Required when updating a production configuration
                    webhook_verify_token:
                      type: string
                      description: Token for webhook verification (write-only, not returned in responses)
                    webhook_destination_url:
                      type: string
                      description: URL for webhook delivery (write-only, not returned in responses)
                    access_token:
                      type: string
                      description: Required when updating a production configuration
                    inbound_processing_enabled:
                      type: boolean
                      description: Whether inbound message processing is enabled for this configuration
                    calls_enabled:
                      type: boolean
                      description: Whether voice calling is enabled for this configuration
      responses:
        "200":
          description: WhatsApp configuration updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WhatsappConfig"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: WhatsApp configuration not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete WhatsApp config
      description: Deletes a WhatsApp configuration
      operationId: deleteWhatsappConfig
      tags:
        - WhatsApp Configs
      parameters:
        - name: whatsapp_config_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: WhatsApp configuration deleted
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: WhatsApp configuration not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /whatsapp_configs/{whatsapp_config_id}/health:
    get:
      summary: Get WhatsApp config health status
      description: |
        Performs a comprehensive health check on a WhatsApp configuration to verify its operational status.

        **Health Checks Performed:**
        - Phone number access verification
        - Messaging health status (ability to send messages)
        - Webhook subscription status
        - Webhook verification status

        **Response Status:**
        - `healthy`: All checks pass
        - `degraded`: Some non-critical checks fail (e.g., webhook issues)
        - `unhealthy`: Critical checks fail (e.g., phone number access, token validity)
        - `error`: Service error occurred during health check

        **Note:** Test message sending is disabled by default for performance reasons.
      operationId: getWhatsappConfigHealth
      tags:
        - WhatsApp Configs
      parameters:
        - name: whatsapp_config_id
          in: path
          required: true
          schema:
            type: string
          description: ID of the WhatsApp configuration to check
      responses:
        "200":
          description: Health check completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy, degraded, unhealthy, error]
                    description: Overall health status
                    example: healthy
                  checks:
                    type: object
                    description: Individual health check results
                    properties:
                      phone_number_access:
                        type: object
                        properties:
                          passed:
                            type: boolean
                          details:
                            type: object
                            properties:
                              verified_name:
                                type: string
                                example: Company Name
                              display_phone_number:
                                type: string
                                example: "+1234567890"
                              quality_rating:
                                type: string
                                example: GREEN
                              id:
                                type: string
                                example: "1234567890"
                          error:
                            type: string
                            description: Error message if check failed
                      messaging_health:
                        type: object
                        properties:
                          passed:
                            type: boolean
                          overall_status:
                            type: string
                            enum: [AVAILABLE, LIMITED, BLOCKED]
                            example: AVAILABLE
                          details:
                            type: object
                            properties:
                              can_send_message:
                                type: string
                                example: AVAILABLE
                              entities:
                                type: array
                                description: Health status of individual entities
                                items:
                                  type: object
                      webhook_subscription:
                        type: object
                        properties:
                          passed:
                            type: boolean
                          details:
                            type: object
                            properties:
                              app_id:
                                type: string
                                example: "123456789"
                              subscribed:
                                type: boolean
                                example: true
                              subscribed_fields:
                                type: array
                                items:
                                  type: string
                                example: ["messages", "message_deliveries"]
                          error:
                            type: string
                      webhook_verified:
                        type: object
                        properties:
                          passed:
                            type: boolean
                          details:
                            type: object
                            properties:
                              verified_at:
                                type: string
                                format: date-time
                                example: "2024-01-20T10:00:00Z"
                              message:
                                type: string
                                example: "Webhook successfully verified at 2024-01-20 10:00:00 UTC"
                  timestamp:
                    type: string
                    format: date-time
                    description: When the health check was performed
                    example: "2024-01-20T10:00:00Z"
                  error:
                    type: string
                    description: Error message if overall health check failed
              examples:
                healthy_config:
                  summary: Healthy WhatsApp configuration
                  value:
                    status: "healthy"
                    checks:
                      phone_number_access:
                        passed: true
                        details:
                          verified_name: "My Business"
                          display_phone_number: "+1 555-123-4567"
                          quality_rating: "GREEN"
                          id: "123456789012345"
                      messaging_health:
                        passed: true
                        overall_status: "AVAILABLE"
                        details:
                          can_send_message: "AVAILABLE"
                          entities:
                            - entity_type: "PHONE_NUMBER"
                              id: "123456789012345"
                              can_send_message: "AVAILABLE"
                            - entity_type: "WABA"
                              id: "987654321098765"
                              can_send_message: "AVAILABLE"
                            - entity_type: "BUSINESS"
                              id: "456789012345678"
                              can_send_message: "AVAILABLE"
                            - entity_type: "APP"
                              id: "789012345678901"
                              can_send_message: "AVAILABLE"
                      webhook_subscription:
                        passed: true
                        details:
                          app_id: 789012345678901
                          subscribed: true
                          subscribed_fields: null
                      webhook_verified:
                        passed: true
                        details:
                          verified_at: "2024-01-15T10:30:00.000Z"
                          message: "Webhook successfully verified at 2024-01-15 10:30:00 UTC"
                    timestamp: "2024-01-20T14:25:30Z"
                unhealthy_payment_method:
                  summary: Unhealthy - Payment method error (Meta billing issue)
                  description: |
                    Shows a common issue where the WhatsApp Business Account has payment method problems.
                    This must be resolved in Meta Business Manager, not in Kapso.
                  value:
                    status: "unhealthy"
                    checks:
                      phone_number_access:
                        passed: true
                        details:
                          verified_name: "Demo Company"
                          display_phone_number: "+1 555-987-6543"
                          quality_rating: "GREEN"
                          id: "998877665544332"
                      messaging_health:
                        passed: false
                        overall_status: "BLOCKED"
                        details:
                          can_send_message: "BLOCKED"
                          entities:
                            - entity_type: "PHONE_NUMBER"
                              id: "998877665544332"
                              can_send_message: "LIMITED"
                              additional_info:
                                - "Your display name has not been approved yet. Your message limit will increase after the display name is approved."
                            - entity_type: "WABA"
                              id: "556677889900112"
                              can_send_message: "BLOCKED"
                              errors:
                                - error_code: 141006
                                  error_description: "There is an error with the payment method. This will block business initiated conversations."
                                  possible_solution: "There was an error with your payment method. Please add a new payment method to the account."
                            - entity_type: "BUSINESS"
                              id: "334455667788990"
                              can_send_message: "LIMITED"
                            - entity_type: "APP"
                              id: "112233445566778"
                              can_send_message: "AVAILABLE"
                      webhook_subscription:
                        passed: true
                        details:
                          app_id: 112233445566778
                          subscribed: true
                          subscribed_fields: null
                      webhook_verified:
                        passed: false
                        details:
                          verified_at: null
                          message: "Webhook not yet verified by Meta"
                    timestamp: "2024-01-20T16:45:15Z"
                unhealthy_invalid_token:
                  summary: Unhealthy - Invalid OAuth token
                  description: |
                    Shows when the access token is invalid or expired. All Meta API checks fail.
                    User needs to reconnect their WhatsApp Business Account.
                  value:
                    status: "unhealthy"
                    checks:
                      phone_number_access:
                        passed: false
                        error: 'Meta Graph API error: 400 - {"error" => {"message" => "Invalid OAuth access token - Cannot parse access token", "type" => "OAuthException", "code" => 190, "fbtrace_id" => "ABC123xyz456"}}'
                      messaging_health:
                        passed: false
                        error: 'Meta Graph API error: 400 - {"error" => {"message" => "Invalid OAuth access token - Cannot parse access token", "type" => "OAuthException", "code" => 190, "fbtrace_id" => "DEF789abc012"}}'
                      webhook_subscription:
                        passed: false
                        error: 'Meta Graph API error: 401 - {"error" => {"message" => "Invalid OAuth access token - Cannot parse access token", "type" => "OAuthException", "code" => 190, "fbtrace_id" => "GHI345def678"}}'
                      webhook_verified:
                        passed: true
                        details:
                          verified_at: "2024-01-10T08:15:30.000Z"
                          message: "Webhook successfully verified at 2024-01-10 08:15:30 UTC"
                    timestamp: "2024-01-20T18:22:45Z"
                error_response:
                  summary: Health check service error
                  value:
                    status: error
                    error: "Service temporarily unavailable"
                    timestamp: "2024-01-20T10:00:00Z"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: WhatsApp configuration not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /whatsapp_broadcasts:
    get:
      summary: List broadcasts
      description: |
        Get all broadcasts for your project with optional filtering.

        Returns broadcasts ordered by most recent first.
      operationId: listWhatsappBroadcasts
      tags:
        - WhatsApp Broadcasts
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: q[whatsapp_config_id_eq]
          in: query
          description: Filter by exact WhatsApp config ID
          schema:
            type: string
            format: uuid
        - name: q[whatsapp_template_id_eq]
          in: query
          description: Filter by exact template ID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: List of broadcasts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WhatsappBroadcast"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
              examples:
                list_broadcasts:
                  summary: List of broadcasts
                  value:
                    data:
                      - id: 5f6a7b8c-9d0e-1f2a-3b4c-5d6e7f8a9b0c
                        name: July Promo
                        status: completed
                        started_at: "2025-07-15T10:00:00Z"
                        completed_at: "2025-07-15T11:30:00Z"
                        created_at: "2025-07-14T15:00:00Z"
                        updated_at: "2025-07-15T11:30:00Z"
                        whatsapp_config_id: 4a5b6c7d-8e9f-0a1b-2c3d-4e5f6a7b8c9d
                        whatsapp_template:
                          id: 7a8b9c0d-1e2f-3a4b-5c6d-7e8f9a0b1c2d
                          name: july_promo_template
                          language_code: en_US
                          category: MARKETING
                          status: approved
                        total_recipients: 1000
                        sent_count: 950
                        failed_count: 50
                        delivered_count: 900
                        read_count: 750
                        responded_count: 120
                        pending_count: 0
                        response_rate: 12.6
                        stats:
                          total: 1000
                          sent: 950
                          failed: 50
                          delivered: 900
                          read: 750
                          responded: 120
                          pending: 0
                      - id: 3c4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f
                        name: Summer Sale
                        status: sending
                        started_at: "2025-07-16T09:00:00Z"
                        completed_at: null
                        created_at: "2025-07-16T08:00:00Z"
                        updated_at: "2025-07-16T09:15:00Z"
                        whatsapp_config_id: 4a5b6c7d-8e9f-0a1b-2c3d-4e5f6a7b8c9d
                        whatsapp_template:
                          id: 9d0e1f2a-3b4c-5d6e-7f8a-9b0c1d2e3f4a
                          name: summer_sale_template
                          language_code: en_US
                          category: MARKETING
                          status: approved
                        total_recipients: 500
                        sent_count: 250
                        failed_count: 10
                        delivered_count: 240
                        read_count: 100
                        responded_count: 15
                        pending_count: 240
                        response_rate: 6.0
                        stats:
                          total: 500
                          sent: 250
                          failed: 10
                          delivered: 240
                          read: 100
                          responded: 15
                          pending: 240
                    meta:
                      page: 1
                      per_page: 20
                      total_pages: 1
                      total_count: 2
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create broadcast
      description: |
        Create a draft WhatsApp broadcast tied to a production WhatsApp config and template.

        **Requirements:**
        - WhatsApp config must be production type
        - Template must be approved and linked to the config
      operationId: createWhatsappBroadcast
      tags:
        - WhatsApp Broadcasts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - whatsapp_broadcast
              properties:
                whatsapp_broadcast:
                  type: object
                  required:
                    - name
                    - whatsapp_config_id
                    - whatsapp_template_id
                  properties:
                    name:
                      type: string
                      example: July Promo
                      description: Name for this broadcast campaign
                    whatsapp_config_id:
                      type: string
                      format: uuid
                      example: 4a5b6c7d-8e9f-0a1b-2c3d-4e5f6a7b8c9d
                      description: Production WhatsApp config ID
                    whatsapp_template_id:
                      type: string
                      format: uuid
                      example: 7a8b9c0d-1e2f-3a4b-5c6d-7e8f9a0b1c2d
                      description: Approved template ID linked to the config
            examples:
              basic:
                summary: Basic broadcast
                value:
                  whatsapp_broadcast:
                    name: July Promo
                    whatsapp_config_id: 4a5b6c7d-8e9f-0a1b-2c3d-4e5f6a7b8c9d
                    whatsapp_template_id: 7a8b9c0d-1e2f-3a4b-5c6d-7e8f9a0b1c2d
      responses:
        "201":
          description: Broadcast created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WhatsappBroadcast"
        "401":
          description: Unauthorized - missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                invalid_config:
                  summary: Invalid config/template relationship
                  value:
                    error: "Template not linked to config"
                missing_users:
                  summary: No project users
                  value:
                    error: "No users found for project"
  /whatsapp_broadcasts/{broadcast_id}:
    get:
      summary: Get broadcast details
      description: |
        Poll overall progress and metrics for a broadcast.

        Use this endpoint to monitor broadcast progress and get delivery statistics.
      operationId: getWhatsappBroadcast
      tags:
        - WhatsApp Broadcasts
      parameters:
        - name: broadcast_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Broadcast ID
      responses:
        "200":
          description: Broadcast details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WhatsappBroadcast"
              examples:
                draft_broadcast:
                  summary: Draft broadcast
                  value:
                    data:
                      id: 5f6a7b8c-9d0e-1f2a-3b4c-5d6e7f8a9b0c
                      name: July Promo
                      status: draft
                      started_at: null
                      completed_at: null
                      created_at: "2025-07-14T15:00:00Z"
                      updated_at: "2025-07-14T15:00:00Z"
                      whatsapp_config_id: 4a5b6c7d-8e9f-0a1b-2c3d-4e5f6a7b8c9d
                      whatsapp_template:
                        id: 7a8b9c0d-1e2f-3a4b-5c6d-7e8f9a0b1c2d
                        name: july_promo_template
                        language_code: en_US
                        category: MARKETING
                        status: approved
                      total_recipients: 0
                      sent_count: 0
                      failed_count: 0
                      delivered_count: 0
                      read_count: 0
                      responded_count: 0
                      pending_count: 0
                      response_rate: 0.0
                      stats:
                        total: 0
                        sent: 0
                        failed: 0
                        delivered: 0
                        read: 0
                        responded: 0
                        pending: 0
                sending_broadcast:
                  summary: Broadcast in progress
                  value:
                    data:
                      id: 5f6a7b8c-9d0e-1f2a-3b4c-5d6e7f8a9b0c
                      name: July Promo
                      status: sending
                      started_at: "2025-07-15T10:00:00Z"
                      completed_at: null
                      created_at: "2025-07-14T15:00:00Z"
                      updated_at: "2025-07-15T10:30:00Z"
                      whatsapp_config_id: 4a5b6c7d-8e9f-0a1b-2c3d-4e5f6a7b8c9d
                      whatsapp_template:
                        id: 7a8b9c0d-1e2f-3a4b-5c6d-7e8f9a0b1c2d
                        name: july_promo_template
                        language_code: en_US
                        category: MARKETING
                        status: approved
                      total_recipients: 1000
                      sent_count: 650
                      failed_count: 50
                      delivered_count: 600
                      read_count: 320
                      responded_count: 45
                      pending_count: 300
                      response_rate: 6.9
                      stats:
                        total: 1000
                        sent: 650
                        failed: 50
                        delivered: 600
                        read: 320
                        responded: 45
                        pending: 300
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Broadcast not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /whatsapp_broadcasts/{broadcast_id}/recipients:
    get:
      summary: List broadcast recipients
      description: |
        Get paginated list of recipients with delivery and response status.
      operationId: listBroadcastRecipients
      tags:
        - WhatsApp Broadcasts
      parameters:
        - name: broadcast_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: List of recipients
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WhatsappBroadcastRecipient"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Broadcast not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Add recipients (batch)
      description: |
        Bulk-add recipients to a draft broadcast.

        **Constraints:**
        - Accepts up to 1,000 recipients per request
        - Broadcast must be in draft status
        - Phone numbers are normalized to E.164 format without + prefix

        **Template Parameters:**
        - Array format for positional parameters: `["Param1", "Param2"]`
        - Object format for named parameters with support for media headers:
          ```json
          {
            "first_name": "Alicia",
            "discount_code": "JULY25",
            "header_url": "https://example.com/image.jpg",
            "header_filename": "promo.jpg"
          }
          ```
      operationId: addBroadcastRecipients
      tags:
        - WhatsApp Broadcasts
      parameters:
        - name: broadcast_id
          in: path
          required: true
[...]
