openapi: 3.0.3
info:
  title: Kapso External API - WhatsApp API
  description:
    API for programmatically interacting with Kapso agents, executions,
    and WhatsApp conversations. This specification includes only WhatsApp API endpoints.
  version: 1.0.0
  contact:
    name: Kapso Support
servers:
  - url: https://app.kapso.ai/api/v1
    description: Production server
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key required for all endpoints
  schemas:
    WhatsappTemplate:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: template-123abc
        name:
          type: string
          example: appointment_reminder
        language_code:
          type: string
          example: en_US
        category:
          type: string
          enum:
            - MARKETING
            - UTILITY
            - AUTHENTICATION
          example: UTILITY
        status:
          type: string
          enum:
            - draft
            - submitted
            - approved
            - rejected
            - disabled
            - removed
          example: approved
        content:
          type: string
          example: Hello {{1}}, your appointment is confirmed for {{2}}.
        parameter_count:
          type: integer
          example: 2
        business_account_id:
          type: string
          nullable: true
          example: "123456789012345"
          description: WhatsApp Business Account ID this template belongs to
        whatsapp_config_ids:
          type: array
          items:
            type: string
            format: uuid
          example: ["config-123abc", "config-456def"]
          description: Array of WhatsApp config IDs this template is associated with
        components:
          type: array
          description: Raw WhatsApp template components structure
          items:
            type: object
            properties:
              type:
                type: string
                enum: [HEADER, BODY, FOOTER, BUTTONS]
              format:
                type: string
                enum: [TEXT, IMAGE, VIDEO, DOCUMENT, LOCATION]
              text:
                type: string
              example:
                type: object
              buttons:
                type: array
                items:
                  type: object
        metadata:
          type: object
          description: Additional metadata about the template
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Agent:
      type: object
      properties:
        id:
          type: string
          example: agent-123abc
        name:
          type: string
          example: Customer Support Agent
        description:
          type: string
          example: Handles initial customer support queries
        project_id:
          type: string
          example: project-456def
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    
    AgentExecution:
      type: object
      properties:
        id:
          type: string
          example: execution-789ghi
        agent_id:
          type: string
          example: agent-123abc
        thread_id:
          type: string
          example: thread-101jkl
        status:
          type: string
          enum:
            - started
            - running
            - paused
            - ended
            - handoff
          example: running
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
          nullable: true
        duration:
          type: integer
          description: Duration in seconds
          nullable: true
    WhatsappConversation:
      type: object
      properties:
        id:
          type: string
          example: conversation-202mno
        phone_number:
          type: string
          example: "+1234567890"
        status:
          type: string
          enum:
            - active
            - ended
          example: active
        last_active_at:
          type: string
          format: date-time
        contact_name:
          type: string
          example: John Doe
        whatsapp_config_id:
          type: string
          format: uuid
          example: config-123abc
          description: ID of the WhatsApp configuration this conversation belongs to
    WhatsappContact:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: contact-789ghi
        wa_id:
          type: string
          example: "1234567890"
          description: The WhatsApp ID (normalized phone number)
        profile_name:
          type: string
          example: John Doe
          description: The contact's profile name from WhatsApp
        customer_id:
          type: string
          format: uuid
          nullable: true
          example: customer-456def
          description: ID of the associated customer, null for sandbox contacts
        metadata:
          type: object
          description: Additional metadata about the contact
          example:
            source: website
            tags:
              - lead
              - priority
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    WhatsappContactNote:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: note-123abc
        name:
          type: string
          nullable: true
          example: Customer Preference
          description: Optional name for the note
        content:
          type: string
          example: Prefers morning deliveries between 9-11 AM
          description: The content of the note
        metadata:
          type: object
          description: Additional metadata about the note
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    WhatsappMessage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        phone_number:
          type: string
        message_type:
          type: string
          enum:
            - text
            - image
            - video
            - audio
            - document
            - template
            - location
            - interactive
            - reaction
            - contacts
          description: The type of WhatsApp message
        content:
          type: string
          description: Human-readable representation of the message content
        direction:
          type: string
          enum:
            - inbound
            - outbound
        status:
          type: string
        processing_status:
          type: string
          enum:
            - pending
            - processed
        whatsapp_message_id:
          type: string
        metadata:
          type: object
          nullable: false
          description: Type-specific metadata for the message
        media_url:
          type: string
          description:
            URL to access any attached media (for image, video, audio,
            document message types)
        message_type_data:
          type: object
          description: Type-specific data based on the message_type
          oneOf:
            - $ref: "#/components/schemas/TextMessageData"
            - $ref: "#/components/schemas/ImageMessageData"
            - $ref: "#/components/schemas/VideoMessageData"
            - $ref: "#/components/schemas/AudioMessageData"
            - $ref: "#/components/schemas/DocumentMessageData"
            - $ref: "#/components/schemas/LocationMessageData"
            - $ref: "#/components/schemas/TemplateMessageData"
            - $ref: "#/components/schemas/InteractiveMessageData"
            - $ref: "#/components/schemas/ReactionMessageData"
            - $ref: "#/components/schemas/ContactsMessageData"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    TextMessageData:
      type: object
      description: Data specific to text messages
      properties:
        text:
          type: string
          description: The text content of the message
    ImageMessageData:
      type: object
      description: Data specific to image messages
      properties:
        caption:
          type: string
          description: Optional caption for the image
        media_id:
          type: string
          description: WhatsApp media ID for the image
        mime_type:
          type: string
          description: MIME type of the image (e.g., image/jpeg)
    VideoMessageData:
      type: object
      description: Data specific to video messages
      properties:
        caption:
          type: string
          description: Optional caption for the video
        media_id:
          type: string
          description: WhatsApp media ID for the video
        mime_type:
          type: string
          description: MIME type of the video (e.g., video/mp4)
    AudioMessageData:
      type: object
      description: Data specific to audio messages
      properties:
        media_id:
          type: string
          description: WhatsApp media ID for the audio
        mime_type:
          type: string
          description: MIME type of the audio (e.g., audio/ogg)
    DocumentMessageData:
      type: object
      description: Data specific to document messages
      properties:
        caption:
          type: string
          description: Optional caption for the document
        media_id:
          type: string
          description: WhatsApp media ID for the document
        mime_type:
          type: string
          description: MIME type of the document (e.g., application/pdf)
        filename:
          type: string
          description: Original filename of the document
    LocationMessageData:
      type: object
      description: Data specific to location messages
      properties:
        latitude:
          type: number
          format: float
          description: Latitude coordinate
        longitude:
          type: number
          format: float
          description: Longitude coordinate
        location_name:
          type: string
          description: Optional name for the location
        location_address:
          type: string
          description: Optional address for the location
    TemplateMessageData:
      type: object
      description: Data specific to template messages
      properties:
        template_name:
          type: string
          description: Name of the template used
        template_language:
          type: string
          description: Language code of the template (e.g., en_US)
        template_params:
          type: array
          description: Parameters used in the template
          items:
            type: string
        header_type:
          type: string
          description: Type of header used in the template
          enum:
            - text
            - image
            - video
            - document
        header_params:
          type: string
          description: Content for the template header
        header_filename:
          type: string
          description: Filename for document headers
    InteractiveMessageData:
      type: object
      description: Data specific to interactive messages
      properties:
        interactive_type:
          type: string
          enum:
            - button
            - list
          description: Type of interactive message
        body_text:
          type: string
          description: Main text content of the interactive message
        header_text:
          type: string
          description: Optional header text
        footer_text:
          type: string
          description: Optional footer text
        buttons:
          type: array
          description: Buttons for button-type interactive messages
          items:
            type: object
            properties:
              id:
                type: string
                description: Unique identifier for the button
              title:
                type: string
                description: Display text for the button
        sections:
          type: array
          description: Sections for list-type interactive messages
          items:
            type: object
            properties:
              title:
                type: string
                description: Section title
              rows:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Row identifier
                    title:
                      type: string
                      description: Row title
                    description:
                      type: string
                      description: Optional row description
        reply_option_id:
          type: string
          description: For replies, the ID of the selected option
        reply_option_title:
          type: string
          description: For replies, the title of the selected option
        list_button_text:
          type: string
          description: Text for the button that opens the list (for list-type messages)
    ReactionMessageData:
      type: object
      description: Data specific to reaction messages
      properties:
        reaction_emoji:
          type: string
          description: Emoji used for the reaction
        reacted_to_message_id:
          type: string
          description: ID of the message being reacted to
    ContactsMessageData:
      type: object
      description: |
        Data specific to contact messages. Supports 1-257 contacts per WhatsApp guidelines.
        At least one contact with a name (formatted_name or first_name) is required.
      properties:
        contacts:
          type: array
          minItems: 1
          maxItems: 257
          description: List of contact cards to send
          items:
            type: object
            required:
              - name
            properties:
              name:
                type: object
                description: Contact name information. Either formatted_name or first_name is required.
                properties:
                  formatted_name:
                    type: string
                    description: Full formatted contact name
                    example: "Barbara J. Johnson"
                  first_name:
                    type: string
                    description: First name
                    example: "Barbara"
                  last_name:
                    type: string
                    description: Last name
                    example: "Johnson"
                  middle_name:
                    type: string
                    description: Middle name
                    example: "Joana"
                  prefix:
                    type: string
                    description: Name prefix
                    example: "Dr."
                  suffix:
                    type: string
                    description: Name suffix
                    example: "Esq."
              birthday:
                type: string
                format: date
                description: Contact birthday in YYYY-MM-DD format
                example: "1999-01-23"
              phones:
                type: array
                description: List of phone numbers
                items:
                  type: object
                  required:
                    - phone
                  properties:
                    phone:
                      type: string
                      description: Phone number (international format recommended)
                      example: "+16505559999"
                    type:
                      type: string
                      description: Phone number type
                      example: "Mobile"
                    wa_id:
                      type: string
                      description: WhatsApp ID (normalized phone number without + prefix)
                      example: "19175559999"
              emails:
                type: array
                description: List of email addresses
                items:
                  type: object
                  required:
                    - email
                  properties:
                    email:
                      type: string
                      format: email
                      description: Email address
                      example: "bjohnson@luckyshrub.com"
                    type:
                      type: string
                      description: Email type
                      example: "Work"
              addresses:
                type: array
                description: List of physical addresses
                items:
                  type: object
                  properties:
                    street:
                      type: string
                      description: Street address
                      example: "1 Lucky Shrub Way"
                    city:
                      type: string
                      description: City
                      example: "Menlo Park"
                    state:
                      type: string
                      description: State or province
                      example: "CA"
                    zip:
                      type: string
                      description: ZIP or postal code
                      example: "94025"
                    country:
                      type: string
                      description: Country name
                      example: "United States"
                    country_code:
                      type: string
                      description: ISO country code
                      example: "US"
                    type:
                      type: string
                      description: Address type
                      example: "Office"
              urls:
                type: array
                description: List of URLs
                items:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: uri
                      description: URL
                      example: "https://www.luckyshrub.com"
                    type:
                      type: string
                      description: URL type
                      example: "Company"
              org:
                type: object
                description: Organization information
                properties:
                  company:
                    type: string
                    description: Company name
                    example: "Lucky Shrub"
                  department:
                    type: string
                    description: Department name
                    example: "Legal"
                  title:
                    type: string
                    description: Job title
                    example: "Lead Counsel"
    WhatsappConversationAgentExecution:
      type: object
      properties:
        id:
          type: string
          format: uuid
        active:
          type: boolean
        handoff_reason:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        agent_execution:
          $ref: "#/components/schemas/AgentExecution"
    Error:
      type: object
      properties:
        error:
          type: string
          example: Resource not found
        status:
          type: integer
          example: 404
        message:
          type: string
          example: The requested resource could not be found
    WhatsappConfig:
      type: object
      description: |
        WhatsApp configuration resource returned by the External API.
        Sensitive write-only fields like `webhook_verify_token`, `webhook_destination_url`,
        and `access_token` are intentionally omitted from responses.
      properties:
        id:
          type: string
          example: config-123abc
        name:
          type: string
          example: Client WhatsApp
        display_name:
          type: string
          example: Client WhatsApp (+1234567890)
        phone_number_id:
          type: string
          example: "1234567890"
        business_account_id:
          type: string
          example: "98765432109"
        kind:
          type: string
          enum:
            - production
            - sandbox
          example: production
          description: Configuration environment type
        display_phone_number:
          type: string
          example: "+56 9 61461262"
          description: Formatted phone number for display purposes
        display_phone_number_normalized:
          type: string
          example: "56961461262"
          description: Normalized phone number without + prefix
        is_coexistence:
          type: boolean
          description: Indicates whether coexistence mode is enabled for this phone number
        webhook_verified_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp of the last successful webhook verification
        customer_id:
          type: string
          format: uuid
          example: customer-456def
        inbound_processing_enabled:
          type: boolean
          example: true
          description: Whether inbound message processing is enabled for this configuration
        calls_enabled:
          type: boolean
          example: false
          description: Whether voice calling is enabled for this configuration
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    WhatsappCall:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: call-123abc
        project_id:
          type: string
          format: uuid
          example: project-456def
        whatsapp_config_id:
          type: string
          format: uuid
          example: config-789ghi
        config_display_name:
          type: string
          example: Customer Support Line
          description: Display name of the WhatsApp configuration
        config_display_phone_number:
          type: string
          example: "+1234567890"
          description: Display phone number of the WhatsApp configuration
        voice_agent_id:
          type: string
          format: uuid
          nullable: true
          example: agent-101jkl
        voice_agent_name:
          type: string
          nullable: true
          example: Support Agent
          description: Name of the voice agent handling the call
        call_id:
          type: string
          example: wa-call-xyz123
          description: WhatsApp call identifier
        direction:
          type: string
          enum:
            - inbound
            - outbound
          example: inbound
          description: Call direction
        status:
          type: string
          example: completed
          description: Current status of the call
        duration_seconds:
          type: integer
          nullable: true
          example: 180
          description: Duration of the call in seconds
        started_at:
          type: string
          format: date-time
          nullable: true
          description: When the call started
        ended_at:
          type: string
          format: date-time
          nullable: true
          description: When the call ended
        session_started_at:
          type: string
          format: date-time
          nullable: true
          description: When the session started
        user_wa_id:
          type: string
          example: "1234567890"
          description: WhatsApp ID of the user
        whatsapp_contact_id:
          type: string
          format: uuid
          nullable: true
          example: contact-202mno
        whatsapp_conversation_id:
          type: string
          format: uuid
          nullable: true
          example: conversation-303pqr
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    WhatsappContactCallPermission:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: permission-123abc
        whatsapp_contact_id:
          type: string
          format: uuid
          example: contact-456def
        whatsapp_config_id:
          type: string
          format: uuid
          example: config-789ghi
        config_display_name:
          type: string
          example: Customer Support Line
          description: Display name of the WhatsApp configuration
        status:
          type: string
          enum:
            - accepted
            - rejected
          example: accepted
          description: Permission status
        source:
          type: string
          nullable: true
          example: api
          description: Source of the permission
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: When the permission expires
        last_event_message_id:
          type: string
          nullable: true
          description: ID of the last event message
        last_event_at:
          type: string
          format: date-time
          nullable: true
          description: When the last event occurred
        allowed:
          type: boolean
          example: true
          description: Whether calls are currently allowed (considers expiration)
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ConversationAssignment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        active:
          type: boolean
        notes:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        created_by_user_id:
          type: string
          format: uuid
          nullable: true
    WhatsappWebhook:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: webhook-123abc
        url:
          type: string
          format: uri
          example: https://example.com/webhook
        secret_key:
          type: string
          example: your-secret-key
          description: Secret key for webhook signature verification
        events:
          type: array
          items:
            type: string
          example: ["messages", "status_updates", "templates"]
          description: List of events this webhook should receive
        active:
          type: boolean
          example: true
          description: Whether this webhook is active
        headers:
          type: object
          additionalProperties:
            type: string
          nullable: true
          example:
            X-Custom-Header: custom-value
          description: Custom headers to include in webhook requests
        buffer_enabled:
          type: boolean
          example: false
          description: Whether message buffering is enabled for batch delivery
        buffer_window_seconds:
          type: integer
          minimum: 1
          maximum: 60
          example: 5
          description: Time window in seconds to buffer messages before sending as batch
        max_buffer_size:
          type: integer
          minimum: 1
          maximum: 100
          example: 50
          description: Maximum number of messages to include in a single batch
        buffer_events:
          type: array
          items:
            type: string
          example: ["whatsapp.message.received"]
          description: List of events that should be buffered (currently only supports whatsapp.message.received)
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    WhatsappTemplateSyncRun:
      type: object
      description: Represents a WhatsApp template synchronization request grouped by Business Account
      properties:
        id:
          type: string
          format: uuid
          example: sync-run-123abc
          description: Unique identifier for the sync run
        business_account_id:
          type: string
          example: "123456789012345"
          description: WhatsApp Business Account ID this sync is for
        anchor_whatsapp_config_id:
          type: string
          format: uuid
          example: config-123abc
          description: Primary WhatsApp config ID used for this sync operation
        status:
          type: string
          enum:
            - queued
            - running
            - succeeded
            - failed
          example: running
          description: Current status of the sync operation
        templates_synced:
          type: integer
          example: 15
          description: Total number of templates synchronized
        templates_created:
          type: integer
          example: 5
          description: Number of new templates created during sync
        templates_updated:
          type: integer
          example: 10
          description: Number of existing templates updated during sync
        templates_removed:
          type: integer
          example: 2
          description: Number of templates removed during sync
        queued_at:
          type: string
          format: date-time
          example: "2024-01-15T10:00:00Z"
          description: When the sync was queued
        started_at:
          type: string
          format: date-time
          nullable: true
          example: "2024-01-15T10:01:00Z"
          description: When the sync started processing
        finished_at:
          type: string
          format: date-time
          nullable: true
          example: "2024-01-15T10:05:00Z"
          description: When the sync completed (success or failure)
        job_id:
          type: string
          nullable: true
          example: job-456def
          description: Background job ID for this sync operation
        error_class:
          type: string
          nullable: true
          example: WhatsappApiError
          description: Error class if sync failed
        error_message:
          type: string
          nullable: true
          example: Invalid access token
          description: Error message if sync failed
        results:
          type: object
          description: Detailed results per WhatsApp config ID
          additionalProperties:
            type: object
            properties:
              templates_synced:
                type: integer
              templates_created:
                type: integer
              templates_updated:
                type: integer
              templates_removed:
                type: integer
          example:
            config-123abc:
              templates_synced: 8
              templates_created: 3
              templates_updated: 4
              templates_removed: 1
            config-456def:
              templates_synced: 7
              templates_created: 2
              templates_updated: 4
              templates_removed: 1
        affected_whatsapp_config_ids:
          type: array
          items:
            type: string
            format: uuid
          example: ["config-123abc", "config-456def"]
          description: List of WhatsApp config IDs affected by this sync
        anchor_whatsapp_config:
          $ref: "#/components/schemas/WhatsappConfig"
          description: The WhatsApp configuration used as anchor for this sync
    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 20
        total_pages:
          type: integer
          example: 5
        total_count:
          type: integer
          example: 100
security:
  - ApiKeyAuth: []
paths:
  /whatsapp_conversations:
    get:
      summary: List WhatsApp conversations
      description: Returns a list of WhatsApp conversations
      operationId: listWhatsappConversations
      tags:
        - WhatsApp Conversations
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: q[status_eq]
          in: query
          description: Filter by exact status match
          schema:
            type: string
            enum:
              - active
              - ended
        - name: q[last_active_at_gteq]
          in: query
          description: Filter by last_active_at greater than or equal to (ISO 8601 format)
          schema:
            type: string
            format: date-time
        - name: q[last_active_at_lteq]
          in: query
          description: Filter by last_active_at less than or equal to (ISO 8601 format)
          schema:
            type: string
            format: date-time
        - name: q[whatsapp_config_id_eq]
          in: query
          description: Filter by exact whatsapp_config_id match
          schema:
            type: string
            format: uuid
        - name: q[whatsapp_config_customer_id_eq]
          in: query
          description: Filter by customer_id through whatsapp_config relationship
          schema:
            type: string
            format: uuid
        - name: q[phone_number_eq]
          in: query
          description: Filter by exact phone number match (automatically normalized)
          schema:
            type: string
          example: "+1234567890"
      responses:
        "200":
          description: A list of WhatsApp conversations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WhatsappConversation"
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      per_page:
                        type: integer
                      total_pages:
                        type: integer
                      total_count:
                        type: integer
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /whatsapp_conversations/{conversation_id}:
    get:
      summary: Get WhatsApp conversation details
      description: Returns details for a specific WhatsApp conversation
      operationId: getWhatsappConversation
      tags:
        - WhatsApp Conversations
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: WhatsApp conversation details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WhatsappConversation"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Conversation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Update WhatsApp conversation status
      description: Updates the status of a specific WhatsApp conversation
      operationId: updateWhatsappConversation
      tags:
        - WhatsApp Conversations
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - whatsapp_conversation
              properties:
                whatsapp_conversation:
                  type: object
                  required:
                    - status
                  properties:
                    status:
                      type: string
                      enum:
                        - active
                        - ended
                      description: The new status for the conversation
                      example: ended
      responses:
        "200":
          description: WhatsApp conversation updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WhatsappConversation"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Conversation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /whatsapp_conversations/{conversation_id}/whatsapp_messages:
    get:
      summary: List messages in a WhatsApp conversation
      description: Returns a list of messages for a specific WhatsApp conversation
      operationId: listWhatsappMessages
      tags:
        - WhatsApp Messages
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: A list of WhatsApp messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WhatsappMessage"
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      per_page:
                        type: integer
                      total_pages:
                        type: integer
                      total_count:
                        type: integer
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Conversation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Send a new WhatsApp message
      description:
        Sends a new message through WhatsApp Cloud API and creates the
        message record
      operationId: createWhatsappMessage
      tags:
        - WhatsApp Messages
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: object
                  required:
                    - content
                  properties:
                    content:
                      type: string
                      description: The message content to send
                      example: Hello, how can I help you today?
                    message_type:
                      type: string
                      description: The type of message
                      enum:
                        - text
                        - image
                        - video
                        - audio
                        - document
                        - template
                        - location
                        - interactive
                        - reaction
                        - contacts
                      default: text
                      example: text
                    # Media message fields
                    media_url:
                      type: string
                      description: URL of the media file (required for image/video/audio/document)
                      example: "https://example.com/image.jpg"
                    caption:
                      type: string
                      description: Caption for media messages
                      example: "Check out this image"
                    filename:
                      type: string
                      description: Filename for document messages
                      example: "document.pdf"
                    # Location message fields
                    latitude:
                      type: number
                      format: float
                      description: Latitude (required for location messages)
                      example: 37.7749
                    longitude:
                      type: number
                      format: float
                      description: Longitude (required for location messages)
                      example: -122.4194
                    location_name:
                      type: string
                      description: Location name
                      example: "San Francisco"
                    # Template message fields
                    template_name:
                      type: string
                      description: Template name (required for template messages)
                      example: "hello_world"
                    template_language:
                      type: string
                      description: Template language code (required for template messages)
                      example: "en_US"
                    template_params:
                      type: array
                      description: Template parameters
                      items:
                        type: string
                      example: ["John", "Smith"]
                    # Interactive message fields
                    interactive_type:
                      type: string
                      enum: [button, list]
                      description: Interactive message type
                      example: "button"
                    body_text:
                      type: string
                      description: Interactive message body
                      example: "Choose an option"
                    buttons:
                      type: array
                      description: Buttons for interactive messages
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            example: "btn_1"
                          title:
                            type: string
                            example: "Yes"
                    # Contact message fields
                    contacts:
                      type: array
                      minItems: 1
                      maxItems: 257
                      description: |
                        Contact cards to send (required for contacts messages, 1-257 per WhatsApp guidelines).
                        At least one contact with a name is required.
                        Supports both nested name object and flattened name keys for backward compatibility.
                      items:
                        type: object
                        required:
                          - name
                        properties:
                          name:
                            type: object
                            description: Contact name (either formatted_name or first_name required)
                            properties:
                              formatted_name:
                                type: string
                                example: "Barbara J. Johnson"
                              first_name:
                                type: string
                                example: "Barbara"
                              last_name:
                                type: string
                                example: "Johnson"
                              middle_name:
                                type: string
                                example: "Joana"
                              prefix:
                                type: string
                                example: "Dr."
                              suffix:
                                type: string
                                example: "Esq."
                          birthday:
                            type: string
                            format: date
                            description: Contact birthday (YYYY-MM-DD)
                            example: "1999-01-23"
                          addresses:
                            type: array
                            items:
                              type: object
                              properties:
                                street:
                                  type: string
                                  example: "1 Lucky Shrub Way"
                                city:
                                  type: string
                                  example: "Menlo Park"
                                state:
                                  type: string
                                  example: "CA"
                                zip:
                                  type: string
                                  example: "94025"
                                country:
                                  type: string
                                  example: "United States"
                                country_code:
                                  type: string
                                  example: "US"
                                type:
                                  type: string
                                  example: "Office"
                          emails:
                            type: array
                            items:
                              type: object
                              required:
                                - email
                              properties:
                                email:
                                  type: string
                                  format: email
                                  example: "bjohnson@luckyshrub.com"
                                type:
                                  type: string
                                  example: "Work"
                          phones:
                            type: array
                            items:
                              type: object
                              required:
                                - phone
                              properties:
                                phone:
                                  type: string
                                  example: "+16505559999"
                                type:
                                  type: string
                                  example: "Landline"
                                wa_id:
                                  type: string
                                  example: "19175559999"
                          org:
                            type: object
                            properties:
                              company:
                                type: string
                                example: "Lucky Shrub"
                              department:
                                type: string
                                example: "Legal"
                              title:
                                type: string
                                example: "Lead Counsel"
                          urls:
                            type: array
                            items:
                              type: object
                              required:
                                - url
                              properties:
                                url:
                                  type: string
                                  format: uri
                                  example: "https://www.luckyshrub.com"
                                type:
                                  type: string
                                  example: "Company"
            examples:
              text_message:
                summary: Simple text message
                value:
                  message:
                    content: "Hello, how can I help you today?"
                    message_type: "text"
              image_message:
                summary: Image message
                value:
                  message:
                    content: "Check out this image"
                    message_type: "image"
                    media_url: "https://example.com/image.jpg"
                    caption: "Beautiful sunset"
              location_message:
                summary: Location message
                value:
                  message:
                    content: "Here's my location"
                    message_type: "location"
                    latitude: 37.7749
                    longitude: -122.4194
                    location_name: "San Francisco"
              template_message:
                summary: Template message
                value:
                  message:
                    content: "Template message"
                    message_type: "template"
                    template_name: "hello_world"
                    template_language: "en_US"
                    template_params: ["John", "Smith"]
              template_message_named:
                summary: Template message with named parameters
                value:
                  message:
                    content: "Order notification"
                    message_type: "template"
                    template_name: "order_update"
                    template_language: "en_US"
                    template_params:
                      customer_name: "John Smith"
                      order_number: "ORD-2024-001"
                      status: "shipped"
                      tracking_number: "1Z999AA1234567890"
              template_message_named_with_header:
                summary: Template with named parameters in header and body
                value:
                  message:
                    content: "Promotional message"
                    message_type: "template"
                    template_name: "seasonal_sale_extended"
                    template_language: "en_US"
                    template_params:
                      header:
                        sale_name: "Summer Sale"
                      body:
                        end_date: "August 31st"
                        promo_code: "SUMMER25"
                        discount_amount: "25%"
              interactive_button:
                summary: Interactive button message
                value:
                  message:
                    content: "Choose an option"
                    message_type: "interactive"
                    interactive_type: "button"
                    body_text: "Please select one:"
                    buttons:
                      - id: "yes"
                        title: "Yes"
                      - id: "no"
                        title: "No"
              contacts_message:
                summary: Contact card message
                value:
                  message:
                    message_type: "contacts"
                    contacts:
                      - name:
                          formatted_name: "Barbara J. Johnson"
                          first_name: "Barbara"
                          last_name: "Johnson"
                          middle_name: "Joana"
                          prefix: "Dr."
                          suffix: "Esq."
                        birthday: "1999-01-23"
                        addresses:
                          - street: "1 Lucky Shrub Way"
                            city: "Menlo Park"
                            state: "CA"
                            zip: "94025"
                            country: "United States"
                            country_code: "US"
                            type: "Office"
                        emails:
                          - email: "bjohnson@luckyshrub.com"
                            type: "Work"
                        phones:
                          - phone: "+16505559999"
                            type: "Landline"
                          - phone: "+19175559999"
                            type: "Mobile"
                            wa_id: "19175559999"
                        org:
                          company: "Lucky Shrub"
                          department: "Legal"
                          title: "Lead Counsel"
                        urls:
                          - url: "https://www.luckyshrub.com"
                            type: "Company"
      responses:
        "201":
          description: Message created and sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WhatsappMessage"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Conversation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Cannot send message when an agent execution is active
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: WhatsApp service error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /whatsapp_messages:
    post:
      summary: Send a WhatsApp message (standalone)
      description: |
        Sends a new WhatsApp message without requiring a conversation ID.
        This endpoint automatically finds or creates a conversation based on the phone number and WhatsApp configuration.

        **Configuration Selection:**
        - If `whatsapp_config_id` is provided, uses that specific configuration
        - If `customer_id` is provided, uses the customer's WhatsApp configuration
        - If neither is provided, uses the first available configuration for the project

        **Conversation Management:**
        - Automatically finds existing active conversations for the phone number
        - Creates new conversations if none exist
        - Updates conversation activity timestamps
        - Creates WhatsApp contacts as needed

        **Message Types:**
        Supports all message types including text, template, media, interactive, location, reaction, and contacts.

        **Agent Integration:**
        Respects agent execution states and handoff rules. Messages are blocked when an agent execution is active and not in handoff, failed, or stopped state.
      operationId: sendWhatsappMessage
      tags:
        - WhatsApp Messages
      parameters:
        - name: whatsapp_config_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: ID of the specific WhatsApp configuration to use
        - name: customer_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: ID of the customer whose WhatsApp configuration to use
        - name: phone_number
          in: query
          required: false
          schema:
            type: string
          description: Phone number to send the message to (can also be provided in the message object)
          example: "+1234567890"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: object
                  required:
                    - phone_number
                  properties:
                    phone_number:
                      type: string
                      description: Phone number to send the message to (in international format)
                      example: "+1234567890"
                    content:
                      type: string
                      description: The message content to send (for text messages)
                      example: Hello, how can I help you today?
                    message_type:
                      type: string
                      description: The type of message
                      enum:
                        - text
                        - image
                        - video
                        - audio
                        - document
                        - template
                        - location
                        - interactive
                        - reaction
                        - contacts
                      default: text
                      example: text
                    media_url:
                      type: string
                      description: URL of the media file to send (for image, video, audio, document message types)
                    media_id:
                      type: string
                      description: WhatsApp media ID to use instead of a URL (for image, video, audio, document message types)
                    media_file:
                      type: string
                      format: binary
                      description: Media file upload (for image, video, audio, document message types)
                    caption:
                      type: string
                      description: Caption for media messages (image, video, document)
                    filename:
                      type: string
                      description: Filename for document messages
                    latitude:
                      type: number
                      format: float
                      description: Latitude for location messages
                    longitude:
                      type: number
                      format: float
                      description: Longitude for location messages
                    location_name:
                      type: string
                      description: Optional name for the location
                    location_address:
                      type: string
                      description: Optional address for the location
                    interactive_type:
                      type: string
                      enum:
                        - button
                        - list
                      description: Type of interactive message
                    body_text:
                      type: string
                      description: Main message text for interactive messages
                    header_text:
                      type: string
                      description: Header text for interactive messages
                    footer_text:
                      type: string
                      description: Footer text for interactive messages
                    buttons:
                      type: array
                      description: Button definitions for button-type interactive messages
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Button identifier
                          title:
                            type: string
                            description: Button display text
                    sections:
                      type: array
                      description: Section definitions for list-type interactive messages
                      items:
                        type: object
                        properties:
                          title:
                            type: string
                            description: Section title
                          rows:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Row identifier
                                title:
                                  type: string
                                  description: Row title
                                description:
                                  type: string
                                  description: Optional row description
                    list_button_text:
                      type: string
                      description: Text for the button that opens the list (for list-type interactive messages)
                      example: View Options
                    template_name:
                      type: string
                      description: Name of the template to use
                    template_language:
                      type: string
                      description: Language code of the template (e.g., en_US)
                    template_params:
                      oneOf:
                        - type: array
                          description: Array of values for positional parameters (e.g., {{1}}, {{2}})
                          items:
                            type: string
                          example:
                            - John Smith
                            - Tomorrow at 2 PM
                        - type: object
                          description: Object with named parameters (e.g., {{name}}, {{email}})
                          additionalProperties:
                            type: string
                          example:
                            name: John Smith
                            email: john@example.com
                      description: |
                        Parameters to fill in the template placeholders.
                        Use array format for templates with positional parameters ({{1}}, {{2}}).
                        Use object format for templates with named parameters ({{name}}, {{email}}).
                    header_type:
                      type: string
                      description: Type of header for template messages
                      enum:
                        - text
                        - image
                        - video
                        - document
                    header_params:
                      type: string
                      description: Content for the template header (URL for media, text for text headers)
                    header_filename:
                      type: string
                      description: Filename for document headers
                    reaction_emoji:
                      type: string
                      description: Emoji to use for the reaction
                    reacted_to_message_id:
                      type: string
                      description: ID of the message to react to
                    contacts:
                      type: array
                      minItems: 1
                      maxItems: 257
                      description: |
                        Contact cards to send (required for contacts messages, 1-257 per WhatsApp guidelines).
                        At least one contact with a name is required.
                        Supports both nested name object and flattened name keys for backward compatibility.
                      items:
                        type: object
                        required:
                          - name
                        properties:
                          name:
                            type: object
                            description: Contact name (either formatted_name or first_name required)
                            properties:
                              formatted_name:
                                type: string
                                description: Full formatted contact name
                                example: "Barbara J. Johnson"
                              first_name:
                                type: string
                                description: First name
                                example: "Barbara"
                              last_name:
                                type: string
                                description: Last name
                                example: "Johnson"
                              middle_name:
                                type: string
                                description: Middle name
                                example: "Joana"
                              prefix:
                                type: string
                                description: Name prefix
                                example: "Dr."
                              suffix:
                                type: string
                                description: Name suffix
                                example: "Esq."
                          birthday:
                            type: string
                            format: date
                            description: Contact birthday (YYYY-MM-DD)
                            example: "1999-01-23"
                          addresses:
                            type: array
                            description: Physical addresses for the contact
                            items:
                              type: object
                              properties:
                                street:
                                  type: string
                                  description: Street address
                                  example: "1 Lucky Shrub Way"
                                city:
                                  type: string
                                  description: City
                                  example: "Menlo Park"
                                state:
                                  type: string
                                  description: State or province
                                  example: "CA"
                                zip:
                                  type: string
                                  description: ZIP or postal code
                                  example: "94025"
                                country:
                                  type: string
                                  description: Country name
                                  example: "United States"
                                country_code:
                                  type: string
                                  description: ISO country code
                                  example: "US"
                                type:
                                  type: string
                                  description: Address type
                                  example: "Office"
                          emails:
                            type: array
                            description: Email addresses for the contact
                            items:
                              type: object
                              required:
                                - email
                              properties:
                                email:
                                  type: string
                                  format: email
                                  description: Email address
                                  example: "bjohnson@luckyshrub.com"
                                type:
                                  type: string
                                  description: Email type
                                  example: "Work"
                          phones:
                            type: array
                            description: Phone numbers for the contact
                            items:
                              type: object
                              required:
                                - phone
                              properties:
                                phone:
                                  type: string
                                  description: Phone number (international format recommended)
                                  example: "+16505559999"
                                type:
                                  type: string
                                  description: Phone number type
                                  example: "Landline"
                                wa_id:
                                  type: string
                                  description: WhatsApp ID (normalized phone number without + prefix)
                                  example: "19175559999"
                          org:
                            type: object
                            description: Organization information
                            properties:
                              company:
                                type: string
                                description: Company name
                                example: "Lucky Shrub"
                              department:
                                type: string
                                description: Department name
                                example: "Legal"
                              title:
                                type: string
                                description: Job title
                                example: "Lead Counsel"
                          urls:
                            type: array
                            description: URLs for the contact
                            items:
                              type: object
                              required:
                                - url
                              properties:
                                url:
                                  type: string
                                  format: uri
                                  description: URL
                                  example: "https://www.luckyshrub.com"
                                type:
                                  type: string
                                  description: URL type
                                  example: "Company"
            examples:
              text_message:
                summary: Simple text message
                description: Send a basic text message
                value:
                  message:
                    phone_number: "+1234567890"
                    content: "Hello, how can I help you today?"
                    message_type: "text"
              template_message:
                summary: Template message with parameters
                description: Send a template message with parameters
                value:
                  message:
                    phone_number: "+1234567890"
                    message_type: "template"
                    template_name: "order_confirmation"
                    template_params: ["John Doe", "ORD-12345"]
              template_message_named:
                summary: Template message with named parameters
                description: Send a template message with named parameters (e.g., {{customer_name}}, {{order_id}})
                value:
                  message:
                    phone_number: "+1234567890"
                    message_type: "template"
                    template_name: "order_notification"
                    template_language: "en_US"
                    template_params:
                      customer_name: "John Doe"
                      order_id: "ORD-12345"
                      delivery_date: "Tomorrow at 2 PM"
                      total_amount: "$99.99"
              with_config:
                summary: Message with specific WhatsApp config
                description: Send a message using a specific WhatsApp configuration
                value:
                  whatsapp_config_id: "550e8400-e29b-41d4-a716-446655440000"
                  message:
                    phone_number: "+1234567890"
                    content: "Hello from specific config!"
                    message_type: "text"
              with_customer:
                summary: Message with customer specification
                description: Send a message using a customer's WhatsApp configuration
                value:
                  customer_id: "550e8400-e29b-41d4-a716-446655440001"
                  message:
                    phone_number: "+1234567890"
                    content: "Hello from customer's config!"
                    message_type: "text"
              contacts_message:
                summary: Contact card message
                description: Send a contact card with complete information
                value:
                  message:
                    phone_number: "+1234567890"
                    message_type: "contacts"
                    contacts:
                      - name:
                          formatted_name: "Barbara J. Johnson"
                          first_name: "Barbara"
                          last_name: "Johnson"
                          middle_name: "Joana"
                          prefix: "Dr."
                          suffix: "Esq."
                        birthday: "1999-01-23"
                        addresses:
                          - street: "1 Lucky Shrub Way"
                            city: "Menlo Park"
                            state: "CA"
                            zip: "94025"
                            country: "United States"
                            country_code: "US"
                            type: "Office"
                        emails:
                          - email: "bjohnson@luckyshrub.com"
                            type: "Work"
                        phones:
                          - phone: "+16505559999"
                            type: "Landline"
                          - phone: "+19175559999"
                            type: "Mobile"
                            wa_id: "19175559999"
                        org:
                          company: "Lucky Shrub"
                          department: "Legal"
                          title: "Lead Counsel"
                        urls:
                          - url: "https://www.luckyshrub.com"
                            type: "Company"
      responses:
        "201":
          description: Message created and sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WhatsappMessage"
              examples:
                text_message:
                  summary: Text message response
                  value:
                    data:
                      id: "msg-123abc"
                      phone_number: "+1234567890"
                      message_type: "text"
                      content: "Hello, how can I help you today?"
                      direction: "outbound"
                      status: "sent"
                      whatsapp_message_id: "wamid.HBgLMTIzNDU2Nzg5MAUCAw=="
                      created_at: "2024-01-15T10:30:00Z"
                      updated_at: "2024-01-15T10:30:00Z"
                template_message:
                  summary: Template message response
                  value:
                    data:
                      id: "msg-456def"
                      phone_number: "+1234567890"
                      message_type: "template"
                      content: "Hi John Doe, your order ORD-12345 has been confirmed!"
                      direction: "outbound"
                      status: "sent"
                      whatsapp_message_id: "wamid.HBgLMTIzNDU2Nzg5MAUCAw=="
                      metadata:
                        template_name: "order_confirmation"
                        template_params: ["John Doe", "ORD-12345"]
                      created_at: "2024-01-15T10:30:00Z"
                      updated_at: "2024-01-15T10:30:00Z"
                template_message_named:
                  summary: Template message with named params response
                  value:
                    data:
                      id: "msg-789ghi"
                      phone_number: "+1234567890"
                      message_type: "template"
                      content: "Hi John Doe, your order ORD-12345 totaling $99.99 will be delivered Tomorrow at 2 PM!"
                      direction: "outbound"
                      status: "sent"
                      whatsapp_message_id: "wamid.HBgLMTIzNDU2Nzg5MAUCAw=="
                      metadata:
                        template_name: "order_notification"
                        template_language: "en_US"
                        template_params:
                          customer_name: "John Doe"
                          order_id: "ORD-12345"
                          delivery_date: "Tomorrow at 2 PM"
                          total_amount: "$99.99"
                      created_at: "2024-01-15T10:30:00Z"
                      updated_at: "2024-01-15T10:30:00Z"
                template_with_header_body_named:
                  summary: Template with named params in header and body response
                  value:
                    data:
                      id: "msg-101jkl"
                      phone_number: "+1234567890"
                      message_type: "template"
                      content: "Summer Sale: Shop now through August 31st and use code SUMMER25 to get 25% off!"
                      direction: "outbound"
                      status: "sent"
                      whatsapp_message_id: "wamid.HBgLMTIzNDU2Nzg5MAUCAw=="
                      metadata:
                        template_name: "seasonal_sale_extended"
                        template_language: "en_US"
                        template_params:
                          header:
                            sale_name: "Summer Sale"
                          body:
                            end_date: "August 31st"
                            promo_code: "SUMMER25"
                            discount_amount: "25%"
                      created_at: "2024-01-15T10:30:00Z"
                      updated_at: "2024-01-15T10:30:00Z"
                contacts_message:
                  summary: Contact card message response
                  value:
                    data:
                      id: "msg-202mno"
                      phone_number: "+1234567890"
                      message_type: "contacts"
                      content: "Contact: Barbara J. Johnson"
                      direction: "outbound"
                      status: "sent"
                      whatsapp_message_id: "wamid.HBgLMTIzNDU2Nzg5MAUCAw=="
                      metadata:
                        contacts_data:
                          - name:
                              formatted_name: "Barbara J. Johnson"
                              first_name: "Barbara"
                              last_name: "Johnson"
                              middle_name: "Joana"
                              prefix: "Dr."
                              suffix: "Esq."
                            birthday: "1999-01-23"
                            addresses:
                              - street: "1 Lucky Shrub Way"
                                city: "Menlo Park"
                                state: "CA"
                                zip: "94025"
                                country: "United States"
                                country_code: "US"
                                type: "Office"
                            emails:
                              - email: "bjohnson@luckyshrub.com"
                                type: "Work"
                            phones:
                              - phone: "+16505559999"
                                type: "Landline"
                              - phone: "+19175559999"
                                type: "Mobile"
                                wa_id: "19175559999"
                            org:
                              company: "Lucky Shrub"
                              department: "Legal"
                              title: "Lead Counsel"
                            urls:
                              - url: "https://www.luckyshrub.com"
                                type: "Company"
                      created_at: "2024-01-15T10:30:00Z"
                      updated_at: "2024-01-15T10:30:00Z"
        "400":
          description: Bad request - missing required parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missing_phone:
                  summary: Missing phone number
                  value:
                    error: "Phone number is required"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Template not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                template_not_found:
                  summary: Template not found
                  value:
                    error: "Template not found"
        "409":
          description: Cannot send message when an agent execution is active
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                agent_active:
                  summary: Agent execution conflict
                  value:
                    error: "Cannot send a manual message when an agent execution is active and not in handoff, failed, or stopped state"
        "422":
          description: Validation error or WhatsApp configuration not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                config_not_found:
                  summary: WhatsApp configuration not found
                  value:
                    error: "WhatsApp configuration not found"
        "500":
          description: WhatsApp service error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /whatsapp_messages/{id}/mark_as_read:
    patch:
      summary: Mark WhatsApp message as read
      description: |
        Marks an inbound WhatsApp message as read and syncs the status with WhatsApp API.

        **Key Features:**
        - Only inbound messages can be marked as read
        - Optimistically updates local status for immediate feedback
        - Asynchronously syncs with WhatsApp API via background job
        - Skips messages already marked as read
        - Supports optional typing indicator control

        **Sandbox Mode:**
        Messages from sandbox conversations (no WhatsApp config) are handled appropriately with sandbox-specific processing.
      operationId: markWhatsappMessageAsRead
      tags:
        - WhatsApp Messages
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the WhatsApp message to mark as read
          schema:
            type: string
            format: uuid
        - name: typing_indicator
          in: query
          required: false
          description: Whether to show typing indicator in WhatsApp (defaults to true)
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: Message successfully marked as read
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WhatsappMessage"
              examples:
                success:
                  summary: Message marked as read
                  value:
                    data:
                      id: "msg-123abc"
                      phone_number: "+1234567890"
                      message_type: "text"
                      content: "Hello"
                      direction: "inbound"
                      status: "read"
                      whatsapp_message_id: "wamid.HBgLMTIzNDU2Nzg5MAUCAw=="
                      created_at: "2024-01-15T10:30:00Z"
                      updated_at: "2024-01-15T10:31:00Z"
        "400":
          description: Bad request - attempting to mark outbound message as read
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                outbound_message:
                  summary: Cannot mark outbound message
                  value:
                    error: "Can only mark inbound messages as read"
        "401":
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Message not found or doesn't belong to authorized project
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                not_found:
                  summary: Message not found
                  value:
                    error: "WhatsApp message not found"
  /whatsapp_messages/{id}:
    delete:
      summary: Delete WhatsApp message
      description: |
        Deletes a WhatsApp message from the system.

        **Note:**
        This operation only deletes the message from the system, not from WhatsApp itself.
      operationId: deleteWhatsappMessage
      tags:
        - WhatsApp Messages
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the WhatsApp message to delete
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Message successfully deleted
        "401":
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Forbidden - not authorized to delete this message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Message not found or doesn't belong to authorized project
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                not_found:
                  summary: Message not found
                  value:
                    error: "WhatsApp message not found"
  /whatsapp_conversations/{conversation_id}/agent_executions:
    get:
      summary: List agent executions for a WhatsApp conversation
      description:
        Returns all agent executions associated with a specific WhatsApp
        conversation
      operationId: listWhatsappConversationAgentExecutions
      tags:
        - WhatsApp Conversations
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: A list of agent execution associations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WhatsappConversationAgentExecution"
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      per_page:
                        type: integer
                      total_pages:
                        type: integer
                      total_count:
                        type: integer
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Conversation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /whatsapp_conversations/{conversation_id}/agent_executions/{id}:
    get:
      summary: Get agent execution association details
      description: Returns details for a specific agent execution association
      operationId: getWhatsappConversationAgentExecution
      tags:
        - WhatsApp Conversations
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Agent execution association details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WhatsappConversationAgentExecution"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Conversation or association not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /whatsapp_conversations/{whatsapp_conversation_id}/conversation_assignments:
    get:
      summary: List conversation assignments
      description: Returns a list of assignments for a specific WhatsApp conversation
      operationId: listConversationAssignments
      tags:
        - Conversation Assignments
      parameters:
        - name: whatsapp_conversation_id
          in: path
          required: true
          description: ID of the WhatsApp conversation
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: A list of conversation assignments
          headers:
            Total:
              schema:
                type: integer
              description: Total number of records
            Total-Pages:
              schema:
                type: integer
              description: Total number of pages
            Per-Page:
              schema:
                type: integer
              description: Number of items per page
            Page:
              schema:
                type: integer
              description: Current page number
            Link:
              schema:
                type: string
              description: Links to first, prev, next, and last pages
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ConversationAssignment"
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      per_page:
                        type: integer
                      total_pages:
                        type: integer
                      total_count:
                        type: integer
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Conversation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a conversation assignment
      description: Creates a new assignment for a WhatsApp conversation
      operationId: createConversationAssignment
      tags:
        - Conversation Assignments
      parameters:
        - name: whatsapp_conversation_id
          in: path
          required: true
          description: ID of the WhatsApp conversation
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - conversation_assignment
              properties:
                conversation_assignment:
                  type: object
                  required:
                    - user_id
                  properties:
                    user_id:
                      type: string
                      format: uuid
                      description: ID of the user to assign the conversation to
                    notes:
                      type: string
                      description: Optional notes for the assignment
      responses:
        "201":
          description: Assignment created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ConversationAssignment"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Conversation or User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description:
            Validation error (e.g., user not in project, conversation already
            assigned)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /whatsapp_conversations/{whatsapp_conversation_id}/conversation_assignments/{id}:
    patch:
      summary: Update a conversation assignment
      description:
        Updates an existing conversation assignment (e.g., notes, user,
        active status)
      operationId: updateConversationAssignment
      tags:
        - Conversation Assignments
      parameters:
        - name: whatsapp_conversation_id
          in: path
          required: true
          description: ID of the WhatsApp conversation
          schema:
            type: string
        - name: id
          in: path
          required: true
          description: ID of the conversation assignment
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - conversation_assignment
              properties:
                conversation_assignment:
                  type: object
                  properties:
                    user_id:
                      type: string
                      format: uuid
                      description: ID of the new user to assign the conversation to
                    notes:
                      type: string
                      description: Updated notes for the assignment
                    active:
                      type: boolean
                      description: Set to false to deactivate the assignment
      responses:
        "200":
          description: Assignment updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ConversationAssignment"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Conversation, Assignment, or User not found
          content:
            application/json:
[...]
